html {
    color: white !important;
    background: black !important;
}

input {
    color: white;
    background: black;
}

input[type=checkbox] {
  color: white !important;
  background-color: black !important;
}

input[type=checkbox]:hover {
  color: #fff !important;
  background-color: #888 !important;
}

input[type=checkbox]:checked {
  color: #fff !important;
  background-color: #555 !important;
}

input[type=checkbox]:checked:hover {
  color: #fff !important;
  background-color: #888 !important;
}

input[type=checkbox]:disabled {
  color: #000 !important;
  background-color: #aaa !important;
  opacity: 1 !important;
}

input[type=checkbox]:disabled:hover {
  color: #000 !important;
  background-color: #aaa !important;
  opacity: 1 !important;
}

select {
    color: white;
    background: #555 !important;
}

button {
    background: #555 !important;
}

    button:hover {
        background: #777 !important;
    }

    button:active {
        background: #000 !important;
    }

    button:disabled {
        background: #999 !important;
        color: black !important;
    }

input::-webkit-input-placeholder {
    color: #aaa;
}

input::-moz-placeholder {
    color: #aaa;
}

input:-ms-input-placeholder {
    color: #aaa;
}

input::-ms-input-placeholder {
    color: #aaa;
}

input::placeholder {
    color: #aaa;
    opacity: 1;
}  

spangameresult {
    color: white !important;
}

table {
    border-color: white !important;
}

caption {
    border-color: white !important;
}

th {
    border-color: white !important;
}

td {
    border-color: white !important;
}

a {
    color: ghostwhite;
}

a:visited {
    color: mediumpurple;
}

#timers {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#enginemanagementpopup {
  background-color: black !important;
}

#enginesetuppopup {
  background-color: black !important;
}

#enginesettingspopup {
  background-color: black !important;
}

#loadsavedgamespopup {
  background-color: black !important;
}