.mansindam .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/mansindam/wA.svg');
}
.mansindam .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/mansindam/w+A.svg');
}
.mansindam .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/mansindam/wB.svg');
}
.mansindam .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/mansindam/w+B.svg');
}
.mansindam .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/mansindam/wC.svg');
}
.mansindam .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/mansindam/w+C.svg');
}
.mansindam .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/mansindam/wD.svg');
}
.mansindam .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/mansindam/w+D.svg');
}
.mansindam .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/mansindam/wE.svg');
}
.mansindam .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/mansindam/w+E.svg');
}
.mansindam .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/mansindam/wF.svg');
}
.mansindam .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/mansindam/w+F.svg');
}
.mansindam .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/mansindam/wG.svg');
}
.mansindam .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/mansindam/w+G.svg');
}
.mansindam .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/mansindam/wH.svg');
}
.mansindam .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/mansindam/w+H.svg');
}
.mansindam .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/mansindam/wI.svg');
}
.mansindam .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/mansindam/w+I.svg');
}
.mansindam .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/mansindam/wJ.svg');
}
.mansindam .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/mansindam/w+J.svg');
}
.mansindam .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/mansindam/wK.svg');
}
.mansindam .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/mansindam/w+K.svg');
}
.mansindam .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/mansindam/wL.svg');
}
.mansindam .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/mansindam/w+L.svg');
}
.mansindam .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/mansindam/wM.svg');
}
.mansindam .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/mansindam/w+M.svg');
}
.mansindam .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/mansindam/wN.svg');
}
.mansindam .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/mansindam/w+N.svg');
}
.mansindam .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/mansindam/wO.svg');
}
.mansindam .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/mansindam/w+O.svg');
}
.mansindam .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/mansindam/wP.svg');
}
.mansindam .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/mansindam/w+P.svg');
}
.mansindam .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/mansindam/wQ.svg');
}
.mansindam .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/mansindam/w+Q.svg');
}
.mansindam .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/mansindam/wR.svg');
}
.mansindam .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/mansindam/w+R.svg');
}
.mansindam .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/mansindam/wS.svg');
}
.mansindam .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/mansindam/w+S.svg');
}
.mansindam .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/mansindam/wT.svg');
}
.mansindam .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/mansindam/w+T.svg');
}
.mansindam .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/mansindam/wU.svg');
}
.mansindam .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/mansindam/w+U.svg');
}
.mansindam .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/mansindam/wV.svg');
}
.mansindam .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/mansindam/w+V.svg');
}
.mansindam .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/mansindam/wW.svg');
}
.mansindam .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/mansindam/w+W.svg');
}
.mansindam .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/mansindam/wX.svg');
}
.mansindam .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/mansindam/w+X.svg');
}
.mansindam .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/mansindam/wY.svg');
}
.mansindam .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/mansindam/w+Y.svg');
}
.mansindam .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/mansindam/wZ.svg');
}
.mansindam .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/mansindam/w+Z.svg');
}

.mansindam .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/mansindam/bA.svg');
}
.mansindam .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/mansindam/b+A.svg');
}
.mansindam .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/mansindam/bB.svg');
}
.mansindam .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/mansindam/b+B.svg');
}
.mansindam .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/mansindam/bC.svg');
}
.mansindam .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/mansindam/b+C.svg');
}
.mansindam .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/mansindam/bD.svg');
}
.mansindam .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/mansindam/b+D.svg');
}
.mansindam .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/mansindam/bE.svg');
}
.mansindam .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/mansindam/b+E.svg');
}
.mansindam .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/mansindam/bF.svg');
}
.mansindam .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/mansindam/b+F.svg');
}
.mansindam .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/mansindam/bG.svg');
}
.mansindam .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/mansindam/b+G.svg');
}
.mansindam .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/mansindam/bH.svg');
}
.mansindam .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/mansindam/b+H.svg');
}
.mansindam .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/mansindam/bI.svg');
}
.mansindam .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/mansindam/b+I.svg');
}
.mansindam .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/mansindam/bJ.svg');
}
.mansindam .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/mansindam/b+J.svg');
}
.mansindam .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/mansindam/bK.svg');
}
.mansindam .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/mansindam/b+K.svg');
}
.mansindam .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/mansindam/bL.svg');
}
.mansindam .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/mansindam/b+L.svg');
}
.mansindam .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/mansindam/bM.svg');
}
.mansindam .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/mansindam/b+M.svg');
}
.mansindam .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/mansindam/bN.svg');
}
.mansindam .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/mansindam/b+N.svg');
}
.mansindam .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/mansindam/bO.svg');
}
.mansindam .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/mansindam/b+O.svg');
}
.mansindam .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/mansindam/bP.svg');
}
.mansindam .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/mansindam/b+P.svg');
}
.mansindam .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/mansindam/bQ.svg');
}
.mansindam .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/mansindam/b+Q.svg');
}
.mansindam .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/mansindam/bR.svg');
}
.mansindam .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/mansindam/b+R.svg');
}
.mansindam .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/mansindam/bS.svg');
}
.mansindam .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/mansindam/b+S.svg');
}
.mansindam .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/mansindam/bT.svg');
}
.mansindam .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/mansindam/b+T.svg');
}
.mansindam .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/mansindam/bU.svg');
}
.mansindam .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/mansindam/b+U.svg');
}
.mansindam .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/mansindam/bV.svg');
}
.mansindam .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/mansindam/b+V.svg');
}
.mansindam .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/mansindam/bW.svg');
}
.mansindam .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/mansindam/b+W.svg');
}
.mansindam .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/mansindam/bX.svg');
}
.mansindam .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/mansindam/b+X.svg');
}
.mansindam .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/mansindam/bY.svg');
}
.mansindam .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/mansindam/b+Y.svg');
}
.mansindam .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/mansindam/bZ.svg');
}
.mansindam .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/mansindam/b+Z.svg');
}

.mansindam .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/mansindam/wP.svg');
}
.mansindam .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/mansindam/wB.svg');
}
.mansindam .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/mansindam/wN.svg');
}
.mansindam .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/mansindam/wR.svg');
}
.mansindam .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/mansindam/wQ.svg');
}
.mansindam .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/mansindam/wK.svg');
}
.mansindam .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/mansindam/wA.svg');
}
.mansindam .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/mansindam/wC.svg');
}
.mansindam .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/mansindam/wM.svg');
}
.mansindam .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/mansindam/wF.svg');
}
.mansindam .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/mansindam/wS.svg');
}
.mansindam .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/mansindam/wE.svg');
}
.mansindam .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/mansindam/wH.svg');
}
.mansindam .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/mansindam/wL.svg');
}
.mansindam .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/mansindam/wG.svg');
}
.mansindam .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/mansindam/wW.svg');
}
.mansindam .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/mansindam/wJ.svg');
}

.mansindam .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/mansindam/bP.svg');
}
.mansindam .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/mansindam/bB.svg');
}
.mansindam .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/mansindam/bN.svg');
}
.mansindam .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/mansindam/bR.svg');
}
.mansindam .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/mansindam/bQ.svg');
}
.mansindam .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/mansindam/bK.svg');
}
.mansindam .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/mansindam/bA.svg');
}
.mansindam .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/mansindam/bC.svg');
}
.mansindam .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/mansindam/bM.svg');
}
.mansindam .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/mansindam/bF.svg');
}
.mansindam .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/mansindam/bS.svg');
}
.mansindam .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/mansindam/bE.svg');
}
.mansindam .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/mansindam/bH.svg');
}
.mansindam .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/mansindam/bL.svg');
}
.mansindam .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/mansindam/bG.svg');
}
.mansindam .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/mansindam/bW.svg');
}
.mansindam .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/mansindam/bJ.svg');
}

.mansindam .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.mansindam .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
