#pagebackground {
  background-image: url('./assets/images/ui/chess/chess.webp');
}

#enginemanagementpopup {
  background-image: url('./assets/images/ui/chess/chess.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#enginesetuppopup {
  background-image: url('./assets/images/ui/chess/chess.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#enginesettingspopup {
  background-image: url('./assets/images/ui/chess/chess.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#loadsavedgamespopup {
  background-image: url('./assets/images/ui/chess/chess.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}