.dobutsuboard.board3x4 cg-board {
  background-image: url('images/board/dobutsu/dobutsuboard.svg');
  width: 100%;
  height: 100%;
}

.dobutsuboard.board3x4 .cg-wrap.manipulable.orientation-white, .dobutsuboard.board3x4 .cg-wrap.manipulable.orientation-black {
  width: 312px;
  height: 480px;
  position: relative;
  display: block;
}

.dobutsuboard.board3x4 .cg-wrap.micro {
  width: calc(312px * 0.5);
  height: calc(480px * 0.5);
  position: relative;
  display: block;
}

.dobutsuboard.board3x4 .cg-wrap piece {
  position: absolute;
}