.meridaletters .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/meridaletters/wA.svg');
}
.meridaletters .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/meridaletters/w+A.svg');
}
.meridaletters .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/meridaletters/wB.svg');
}
.meridaletters .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/meridaletters/w+B.svg');
}
.meridaletters .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/meridaletters/wC.svg');
}
.meridaletters .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/meridaletters/w+C.svg');
}
.meridaletters .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/meridaletters/wD.svg');
}
.meridaletters .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/meridaletters/w+D.svg');
}
.meridaletters .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/meridaletters/wE.svg');
}
.meridaletters .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/meridaletters/w+E.svg');
}
.meridaletters .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/meridaletters/wF.svg');
}
.meridaletters .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/meridaletters/w+F.svg');
}
.meridaletters .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/meridaletters/wG.svg');
}
.meridaletters .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/meridaletters/w+G.svg');
}
.meridaletters .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/meridaletters/wH.svg');
}
.meridaletters .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/meridaletters/w+H.svg');
}
.meridaletters .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/meridaletters/wI.svg');
}
.meridaletters .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/meridaletters/w+I.svg');
}
.meridaletters .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/meridaletters/wJ.svg');
}
.meridaletters .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/meridaletters/w+J.svg');
}
.meridaletters .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/meridaletters/wK.svg');
}
.meridaletters .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/meridaletters/w+K.svg');
}
.meridaletters .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/meridaletters/wL.svg');
}
.meridaletters .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/meridaletters/w+L.svg');
}
.meridaletters .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/meridaletters/wM.svg');
}
.meridaletters .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/meridaletters/w+M.svg');
}
.meridaletters .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/meridaletters/wN.svg');
}
.meridaletters .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/meridaletters/w+N.svg');
}
.meridaletters .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/meridaletters/wO.svg');
}
.meridaletters .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/meridaletters/w+O.svg');
}
.meridaletters .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/meridaletters/wP.svg');
}
.meridaletters .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/meridaletters/w+P.svg');
}
.meridaletters .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/meridaletters/wQ.svg');
}
.meridaletters .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/meridaletters/w+Q.svg');
}
.meridaletters .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/meridaletters/wR.svg');
}
.meridaletters .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/meridaletters/w+R.svg');
}
.meridaletters .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/meridaletters/wS.svg');
}
.meridaletters .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/meridaletters/w+S.svg');
}
.meridaletters .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/meridaletters/wT.svg');
}
.meridaletters .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/meridaletters/w+T.svg');
}
.meridaletters .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/meridaletters/wU.svg');
}
.meridaletters .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/meridaletters/w+U.svg');
}
.meridaletters .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/meridaletters/wV.svg');
}
.meridaletters .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/meridaletters/w+V.svg');
}
.meridaletters .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/meridaletters/wW.svg');
}
.meridaletters .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/meridaletters/w+W.svg');
}
.meridaletters .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/meridaletters/wX.svg');
}
.meridaletters .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/meridaletters/w+X.svg');
}
.meridaletters .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/meridaletters/wY.svg');
}
.meridaletters .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/meridaletters/w+Y.svg');
}
.meridaletters .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/meridaletters/wZ.svg');
}
.meridaletters .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/meridaletters/w+Z.svg');
}

.meridaletters .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/meridaletters/bA.svg');
}
.meridaletters .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/meridaletters/b+A.svg');
}
.meridaletters .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/meridaletters/bB.svg');
}
.meridaletters .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/meridaletters/b+B.svg');
}
.meridaletters .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/meridaletters/bC.svg');
}
.meridaletters .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/meridaletters/b+C.svg');
}
.meridaletters .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/meridaletters/bD.svg');
}
.meridaletters .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/meridaletters/b+D.svg');
}
.meridaletters .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/meridaletters/bE.svg');
}
.meridaletters .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/meridaletters/b+E.svg');
}
.meridaletters .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/meridaletters/bF.svg');
}
.meridaletters .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/meridaletters/b+F.svg');
}
.meridaletters .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/meridaletters/bG.svg');
}
.meridaletters .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/meridaletters/b+G.svg');
}
.meridaletters .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/meridaletters/bH.svg');
}
.meridaletters .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/meridaletters/b+H.svg');
}
.meridaletters .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/meridaletters/bI.svg');
}
.meridaletters .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/meridaletters/b+I.svg');
}
.meridaletters .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/meridaletters/bJ.svg');
}
.meridaletters .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/meridaletters/b+J.svg');
}
.meridaletters .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/meridaletters/bK.svg');
}
.meridaletters .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/meridaletters/b+K.svg');
}
.meridaletters .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/meridaletters/bL.svg');
}
.meridaletters .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/meridaletters/b+L.svg');
}
.meridaletters .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/meridaletters/bM.svg');
}
.meridaletters .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/meridaletters/b+M.svg');
}
.meridaletters .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/meridaletters/bN.svg');
}
.meridaletters .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/meridaletters/b+N.svg');
}
.meridaletters .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/meridaletters/bO.svg');
}
.meridaletters .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/meridaletters/b+O.svg');
}
.meridaletters .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/meridaletters/bP.svg');
}
.meridaletters .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/meridaletters/b+P.svg');
}
.meridaletters .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/meridaletters/bQ.svg');
}
.meridaletters .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/meridaletters/b+Q.svg');
}
.meridaletters .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/meridaletters/bR.svg');
}
.meridaletters .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/meridaletters/b+R.svg');
}
.meridaletters .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/meridaletters/bS.svg');
}
.meridaletters .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/meridaletters/b+S.svg');
}
.meridaletters .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/meridaletters/bT.svg');
}
.meridaletters .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/meridaletters/b+T.svg');
}
.meridaletters .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/meridaletters/bU.svg');
}
.meridaletters .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/meridaletters/b+U.svg');
}
.meridaletters .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/meridaletters/bV.svg');
}
.meridaletters .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/meridaletters/b+V.svg');
}
.meridaletters .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/meridaletters/bW.svg');
}
.meridaletters .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/meridaletters/b+W.svg');
}
.meridaletters .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/meridaletters/bX.svg');
}
.meridaletters .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/meridaletters/b+X.svg');
}
.meridaletters .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/meridaletters/bY.svg');
}
.meridaletters .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/meridaletters/b+Y.svg');
}
.meridaletters .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/meridaletters/bZ.svg');
}
.meridaletters .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/meridaletters/b+Z.svg');
}
.meridaletters .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}


.meridaletters .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknowncarbonfiber.svg');
}
