.merida-knightmate .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/merida/wP.svg');
}
.merida-knightmate .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/merida/wB.svg');
}
.merida-knightmate .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/merida/wN-royal.svg');
}
.merida-knightmate .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/merida/wR.svg');
}
.merida-knightmate .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/merida/wQ.svg');
}
.merida-knightmate .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/merida/wK-nonroyal.svg');
}
.merida-knightmate .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/merida/wA.svg');
}
.merida-knightmate .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/merida/wC.svg');
}

.merida-knightmate .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/merida/bP.svg');
}
.merida-knightmate .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/merida/bB.svg');
}
.merida-knightmate .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/merida/bN-royal.svg');
}
.merida-knightmate .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/merida/bR.svg');
}
.merida-knightmate .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/merida/bQ.svg');
}
.merida-knightmate .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/merida/bK-nonroyal.svg');
}
.merida-knightmate .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/merida/bA.svg');
}
.merida-knightmate .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/merida/bC.svg');
}
