.cburnett .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/cburnettletters/wA.svg');
}
.cburnett .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/cburnettletters/w+A.svg');
}
.cburnett .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/cburnettletters/wB.svg');
}
.cburnett .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/cburnettletters/w+B.svg');
}
.cburnett .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/cburnettletters/wC.svg');
}
.cburnett .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/cburnettletters/w+C.svg');
}
.cburnett .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/cburnettletters/wD.svg');
}
.cburnett .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/cburnettletters/w+D.svg');
}
.cburnett .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/cburnettletters/wE.svg');
}
.cburnett .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/cburnettletters/w+E.svg');
}
.cburnett .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/cburnettletters/wF.svg');
}
.cburnett .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/cburnettletters/w+F.svg');
}
.cburnett .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/cburnettletters/wG.svg');
}
.cburnett .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/cburnettletters/w+G.svg');
}
.cburnett .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/cburnettletters/wH.svg');
}
.cburnett .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/cburnettletters/w+H.svg');
}
.cburnett .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/cburnettletters/wI.svg');
}
.cburnett .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/cburnettletters/w+I.svg');
}
.cburnett .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/cburnettletters/wJ.svg');
}
.cburnett .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/cburnettletters/w+J.svg');
}
.cburnett .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/cburnettletters/wK.svg');
}
.cburnett .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/cburnettletters/w+K.svg');
}
.cburnett .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/cburnettletters/wL.svg');
}
.cburnett .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/cburnettletters/w+L.svg');
}
.cburnett .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/cburnettletters/wM.svg');
}
.cburnett .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/cburnettletters/w+M.svg');
}
.cburnett .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/cburnettletters/wN.svg');
}
.cburnett .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/cburnettletters/w+N.svg');
}
.cburnett .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/cburnettletters/wO.svg');
}
.cburnett .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/cburnettletters/w+O.svg');
}
.cburnett .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/cburnettletters/wP.svg');
}
.cburnett .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/cburnettletters/w+P.svg');
}
.cburnett .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/cburnettletters/wQ.svg');
}
.cburnett .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/cburnettletters/w+Q.svg');
}
.cburnett .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/cburnettletters/wR.svg');
}
.cburnett .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/cburnettletters/w+R.svg');
}
.cburnett .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/cburnettletters/wS.svg');
}
.cburnett .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/cburnettletters/w+S.svg');
}
.cburnett .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/cburnettletters/wT.svg');
}
.cburnett .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/cburnettletters/w+T.svg');
}
.cburnett .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/cburnettletters/wU.svg');
}
.cburnett .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/cburnettletters/w+U.svg');
}
.cburnett .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/cburnettletters/wV.svg');
}
.cburnett .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/cburnettletters/w+V.svg');
}
.cburnett .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/cburnettletters/wW.svg');
}
.cburnett .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/cburnettletters/w+W.svg');
}
.cburnett .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/cburnettletters/wX.svg');
}
.cburnett .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/cburnettletters/w+X.svg');
}
.cburnett .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/cburnettletters/wY.svg');
}
.cburnett .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/cburnettletters/w+Y.svg');
}
.cburnett .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/cburnettletters/wZ.svg');
}
.cburnett .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/cburnettletters/w+Z.svg');
}

.cburnett .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/cburnettletters/bA.svg');
}
.cburnett .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/cburnettletters/b+A.svg');
}
.cburnett .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/cburnettletters/bB.svg');
}
.cburnett .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/cburnettletters/b+B.svg');
}
.cburnett .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/cburnettletters/bC.svg');
}
.cburnett .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/cburnettletters/b+C.svg');
}
.cburnett .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/cburnettletters/bD.svg');
}
.cburnett .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/cburnettletters/b+D.svg');
}
.cburnett .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/cburnettletters/bE.svg');
}
.cburnett .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/cburnettletters/b+E.svg');
}
.cburnett .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/cburnettletters/bF.svg');
}
.cburnett .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/cburnettletters/b+F.svg');
}
.cburnett .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/cburnettletters/bG.svg');
}
.cburnett .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/cburnettletters/b+G.svg');
}
.cburnett .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/cburnettletters/bH.svg');
}
.cburnett .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/cburnettletters/b+H.svg');
}
.cburnett .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/cburnettletters/bI.svg');
}
.cburnett .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/cburnettletters/b+I.svg');
}
.cburnett .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/cburnettletters/bJ.svg');
}
.cburnett .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/cburnettletters/b+J.svg');
}
.cburnett .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/cburnettletters/bK.svg');
}
.cburnett .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/cburnettletters/b+K.svg');
}
.cburnett .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/cburnettletters/bL.svg');
}
.cburnett .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/cburnettletters/b+L.svg');
}
.cburnett .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/cburnettletters/bM.svg');
}
.cburnett .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/cburnettletters/b+M.svg');
}
.cburnett .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/cburnettletters/bN.svg');
}
.cburnett .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/cburnettletters/b+N.svg');
}
.cburnett .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/cburnettletters/bO.svg');
}
.cburnett .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/cburnettletters/b+O.svg');
}
.cburnett .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/cburnettletters/bP.svg');
}
.cburnett .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/cburnettletters/b+P.svg');
}
.cburnett .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/cburnettletters/bQ.svg');
}
.cburnett .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/cburnettletters/b+Q.svg');
}
.cburnett .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/cburnettletters/bR.svg');
}
.cburnett .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/cburnettletters/b+R.svg');
}
.cburnett .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/cburnettletters/bS.svg');
}
.cburnett .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/cburnettletters/b+S.svg');
}
.cburnett .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/cburnettletters/bT.svg');
}
.cburnett .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/cburnettletters/b+T.svg');
}
.cburnett .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/cburnettletters/bU.svg');
}
.cburnett .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/cburnettletters/b+U.svg');
}
.cburnett .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/cburnettletters/bV.svg');
}
.cburnett .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/cburnettletters/b+V.svg');
}
.cburnett .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/cburnettletters/bW.svg');
}
.cburnett .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/cburnettletters/b+W.svg');
}
.cburnett .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/cburnettletters/bX.svg');
}
.cburnett .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/cburnettletters/b+X.svg');
}
.cburnett .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/cburnettletters/bY.svg');
}
.cburnett .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/cburnettletters/b+Y.svg');
}
.cburnett .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/cburnettletters/bZ.svg');
}
.cburnett .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/cburnettletters/b+Z.svg');
}

.cburnett .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/cburnett/Chess_plt45.svg');
}
.cburnett .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/cburnett/Chess_blt45.svg');
}
.cburnett .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/cburnett/Chess_nlt45.svg');
}
.cburnett .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/cburnett/Chess_rlt45.svg');
}
.cburnett .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/cburnett/Chess_qlt45.svg');
}
.cburnett .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/cburnett/Chess_klt45.svg');
}
.cburnett .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/cburnett/Chess_clt45.svg');
}
.cburnett .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/cburnett/Chess_Mlt45.svg');
}
.cburnett .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/cburnett/Chess_Glt45.svg');
}
.cburnett .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/cburnett/Chess_Ult45.svg');
}
.cburnett .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/cburnett/Chess_Zlt45.svg');
}
.cburnett .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/cburnett/Chess_alt45.svg');
}
.cburnett .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/cburnett/Chess_Dlt45.svg');
}
.cburnett .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/cburnett/Chess_flt45.svg');
}
.cburnett .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/cburnett/Chess_slt45.svg');
}
.cburnett .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/cburnett/Chess_mlt45.svg');
}
.cburnett .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/cburnett/Chess_elt45.svg');
}
.cburnett .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/cburnett/Chess_tlt45.svg');
}
.cburnett .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/cburnett/Chess_Cet45.svg');
}

.cburnett .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/cburnett/Chess_pdt45.svg');
}
.cburnett .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/cburnett/Chess_bdt45.svg');
}
.cburnett .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/cburnett/Chess_ndt45.svg');
}
.cburnett .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/cburnett/Chess_rdt45.svg');
}
.cburnett .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/cburnett/Chess_qdt45.svg');
}
.cburnett .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/cburnett/Chess_kdt45.svg');
}
.cburnett .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/cburnett/Chess_cdt45.svg');
}
.cburnett .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/cburnett/Chess_Mdt45.svg');
}
.cburnett .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/cburnett/Chess_Gdt45.svg');
}
.cburnett .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/cburnett/Chess_Udt45.svg');
}
.cburnett .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/cburnett/Chess_Zdt45.svg');
}
.cburnett .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/cburnett/Chess_adt45.svg');
}
.cburnett .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/cburnett/Chess_Ddt45.svg');
}
.cburnett .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/cburnett/Chess_fdt45.svg');
}
.cburnett .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/cburnett/Chess_sdt45.svg');
}
.cburnett .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/cburnett/Chess_mdt45.svg');
}
.cburnett .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/cburnett/Chess_edt45.svg');
}
.cburnett .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/cburnett/Chess_tdt45.svg');
}
.cburnett .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/cburnett/Chess_Cdt45.svg');
}

.cburnett .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}
