html {
    font-family: Calibri;
    scrollbar-color: #3584e4 #fff;
}

::selection {
    background-color: #3584e4;
    color: #fff;
}

button:before {
    transition-duration: 0.5s;
    transition-property: color, background-color;
    background-color: #3584e4 !important;
}

button:hover:before {
    background-color: #8bb8ef !important;
}

button:active:before {
    background-color: black !important;
}

button:disabled:before {
    color: black !important;
    background-color: #ccc !important;
}

input {
    outline-color: #3584e4;
}

input[type=text] {
    transition-duration: 0.5s;
    transition-property: color, background-color, border-color;
    border-radius: 10px;
    border-left: 1px solid #cdc7c2 !important;
    border-right: 1px solid #cdc7c2 !important;
    border-top: 1px solid #cdc7c2 !important;
    border-bottom: 1px solid #cdc7c2 !important;
}

input[type=text]:hover {
    background-color: #ddd;
}

input[type=text]:focus {
    background-color: #fff;
    border-left: 3px solid #3584e4 !important;
    border-right: 3px solid #3584e4 !important;
    border-top: 3px solid #3584e4 !important;
    border-bottom: 3px solid #3584e4 !important;
    outline: none;
}

input[type=text]:disabled {
    background-color: #ccc;
}

input[type=number] {
    transition-duration: 0.5s;
    transition-property: color, background-color, border-color;
    border-radius: 10px;
    border-left: 1px solid #cdc7c2 !important;
    border-right: 1px solid #cdc7c2 !important;
    border-top: 1px solid #cdc7c2 !important;
    border-bottom: 1px solid #cdc7c2 !important;
}

input[type=number]:hover {
    background-color: #ddd;
}

input[type=number]:focus {
    background-color: #fff;
    border-left: 3px solid #3584e4 !important;
    border-right: 3px solid #3584e4 !important;
    border-top: 3px solid #3584e4 !important;
    border-bottom: 3px solid #3584e4 !important;
    outline: none;
}

input[type=number]:disabled {
    background-color: #ccc;
}

input[type=checkbox] {
  color: white !important;
  background-color: white !important;
  transition-duration: 0.5s;
  transition-property: color, background-color, border-color;
}

input[type="checkbox"]:after {
    content: "\f00c";
    font-size: 0px;
    text-align: center;
    line-height: 17px;
    transition-property: font-size;
    transition-duration: 0.25s;
    transition-timing-function: linear;
}

input[type=checkbox]:hover {
  color: #fff !important;
  background-color: #f2f2f2 !important;
}

input[type=checkbox]:checked {
  color: #fff !important;
  background-color: #3584e4 !important;
  border-color: #1b67c5 !important;
}

input[type=checkbox]:checked:hover {
  color: #fff !important;
  background-color: #58c0f1 !important;
  border-color: #58c0f1 !important;
}

input[type=checkbox]:disabled {
  color: #777 !important;
  background-color: #ccc !important;
  border-color: #555 !important;
  opacity: 1 !important;
}

input[type=checkbox]:disabled:hover {
  color: #777 !important;
  background-color: #ccc !important;
  border-color: #555 !important;
  opacity: 1 !important;
}

input[type=range] {
    -webkit-appearance: none;
    height: 10px;
    background: linear-gradient(to right, #fff 0%, #3584e4 100%);
    border-radius: 5px;
    opacity: 0.7;
    transition: opacity .2s;
    color: black;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #777;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px #aaa;
}

input[type=range]:hover {  
    opacity: 1;
}

input[type=range]::-moz-range-track {  
    height: 10px;
    background: linear-gradient(to right, #fff 0%, #3584e4 100%);
    border-radius: 5px;
}

input[type=range]::-moz-range-thumb {  
    width: 20px;
    height: 20px;
    background: #777;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background .2s;
    box-shadow: 0px 0px 5px 2px #aaa;
}

input[type=range]:focus::-moz-range-thumb {  
    background: #777;
}  

select {
    color: #2e3436;
    background: linear-gradient(to bottom, #f6f5f3, #efe8e1) !important;
    background-color: rgba(248, 248, 247, 0) !important;
    background-blend-mode: overlay;
    border-color: #cdc7c2;
    border-width: 1px;
    border-style: solid;
    transition-duration: 0.5s;
    transition-property: color, background-color, border-color, box-shadow;
    outline: none;
    border-radius: 10px;
}

select:hover {
    background-color: rgba(248, 248, 247, 1) !important;
}

select:disabled {
    color: #aaa;
    background-color: rgba(240, 240, 240, 1) !important;
}

select:focus {
    box-shadow: 0px 0px 3px 3px #3584e4;
}

option {
    padding: 5px;
    color: black;
    background-color: white;
    transition-duration: 0.5s;
    transition-property: color, background, border-color;
    outline-color: #3584e4;
}

option:hover {
    color: white;
    background-color: #3584e4;
}

button {
    outline: none;
    color: #2e3436 !important;
    background: linear-gradient(to bottom, #f6f5f3, #efe8e1) !important;
    background-color: rgba(248, 248, 247, 0) !important;
    background-blend-mode: overlay;
    border-color: #cdc7c2;
    border-width: 1px;
    border-style: solid;
    transition-duration: 0.5s;
    transition-property: color, background-color, border-color, box-shadow;
    border-radius: 10px;
}

button.operationdivbutton {
    border-width: 0;
}

button:hover {
    background-color: rgba(248, 248, 247, 1) !important;
}

button:active {
    transition-duration: 0.05s;
    background-color: rgba(100, 100, 100, 1) !important;
}

button:disabled {
    color: #aaa !important;
    background-color: rgba(240, 240, 240, 1) !important;
}

button:focus {
    box-shadow: 0px 0px 3px 3px #3584e4;
}

input::-webkit-input-placeholder {
    color: #aaa;
}

input::-moz-placeholder {
    color: #aaa;
}

input:-ms-input-placeholder {
    color: #aaa;
}

input::-ms-input-placeholder {
    color: #aaa;
}

input::placeholder {
    color: #aaa;
    opacity: 1;
}

spangameresult, spangameresultmini {
    color: #3584e4 !important;
}

a {
    outline-color: #3584e4;
    color: #3584e4;
    text-decoration: underline !important;
}

a:visited {
    color: #3584e4;
}

.timer-active {
    box-shadow: 0px 0px 5px 5px #3584e4;
}

.position-display-label:hover {
    background-color: #3584e4;
}

#pagebackground {
    background-image: linear-gradient(to bottom, #fff 0%, #fff 20%, #eee 100%);
}

#timers {
  border-color: #000 !important;
  background-color: rgba(0,0,0,0) !important;
  border-radius: 10px;
}

#whitetimer {
  background-image: linear-gradient(to bottom, #fff 0%, #f7f7f7 20%, #ccc 100%);
  border-radius: 10px;
}

#blacktimer {
  background-image: linear-gradient(to bottom, #666 0%, #080808 80%, #000 100%);
  border-radius: 10px;
}

#pvinfo {
    border-top: 4px solid black !important;
    border-left: 4px solid black !important;
    border-right: 4px solid black !important;
    border-bottom: 4px solid black !important;
    border-radius: 10px;
    transition-duration: 0.5s;
    transition-property: box-shadow;
}

#pvinfo:hover {
    box-shadow: 0px 0px 5px 5px #3584e4;
}

#currentboardfen {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 5px #ddd !important;
    scrollbar-width: none;
    border-color: #ccc !important;
    transition-duration: 0.5s;
    transition-property: border-color, box-shadow;
}

#currentboardfen:hover {
    box-shadow: inset 0px 0px 5px 5px #3584e4 !important;
    border-color: #3584e4 !important;
}

#label-pgn {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 5px #ddd !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    overflow-x: auto !important;
    border-color: #ccc !important;
    transition-duration: 0.5s;
    transition-property: border-color, box-shadow;
}

#label-pgn:hover {
    box-shadow: inset 0px 0px 5px 5px #3584e4 !important;
    border-color: #3584e4 !important;
}

#output2 {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px 5px #ddd !important;
    border-color: #ccc !important;
    transition-property: border-color, box-shadow;
}

#output2:hover {
    box-shadow: inset 0px 0px 5px 5px #3584e4 !important;
    border-color: #3584e4 !important;
}

#moveselectiondialog {
    color: black !important;
    background-image: linear-gradient(to bottom, #fff 0%, #fff 20%, #eee 100%);
    border: 1px solid #555 !important;
    border-radius: 10px;
}

#separatormoveselectiondialog {
    border: dashed #3584e4 !important;
}

#separatorsearchresult {
    border: double #3584e4 !important;
}

#enginemanagementpopup {
    background: #0000 !important;
}

#enginemanagementpopup-background {
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, #eee 100%) !important;
}

#enginesetuppopup {
    background: #0000 !important;
}

#enginesetuppopup-background {
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, #eee 100%) !important;
}

#enginesettingspopup {
    background: #0000 !important;
}

#enginesettingspopup-background {
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, #eee 100%) !important;
}

#loadsavedgamespopup {
    background: #0000 !important;
}

#loadsavedgamespopup-background {
    background: linear-gradient(to bottom, #fff 0%, #fff 20%, #eee 100%) !important;
}

#linkdivhr {
    border: 1px solid #3584e4;
}

#chessground-mini-board-wrapper-div {
    background-image: linear-gradient(to bottom, #fff 0%, #fff 20%, #eee 100%);
    border: 1px solid #555 !important;
    border-radius: 10px;
}

#lockminiboard:before, #lockminiboard:hover:before, #lockminiboard:active:before, #lockminiboard:disabled:before {
    background-color: #0078d7 !important;
    transition-duration: unset !important;
    transition-property: none !important;
    border-radius: 10px;
}

.locked #lockminiboard:before {
    background-color: orangered !important;
}

#pinminiboard:before, #pinminiboard:hover:before, #pinminiboard:active:before, #pinminiboard:disabled:before {
    background-color: forestgreen !important;
    transition-duration: unset !important;
    transition-property: none !important;
    border-radius: 10px;
}

.pinned #pinminiboard:before {
    background-color: rebeccapurple !important;
}

#setpositiontomainboard:before, #setpositiontomainboard:hover:before, #setpositiontomainboard:active:before, #setpositiontomainboard:disabled:before {
    background-color: gold !important;
    transition-duration: unset !important;
    transition-property: none !important;
    border-radius: 10px;
}

#closeminiboard:before, #closeminiboard:hover:before, #closeminiboard:active:before, #closeminiboard:disabled:before {
    background-color: crimson !important;
    transition-duration: unset !important;
    transition-property: none !important;
    border-radius: 10px;
}