.userdefined .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/userdefined/wA.svg');
}
.userdefined .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/userdefined/w+A.svg');
}
.userdefined .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/userdefined/wB.svg');
}
.userdefined .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/userdefined/w+B.svg');
}
.userdefined .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/userdefined/wC.svg');
}
.userdefined .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/userdefined/w+C.svg');
}
.userdefined .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/userdefined/wD.svg');
}
.userdefined .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/userdefined/w+D.svg');
}
.userdefined .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/userdefined/wE.svg');
}
.userdefined .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/userdefined/w+E.svg');
}
.userdefined .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/userdefined/wF.svg');
}
.userdefined .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/userdefined/w+F.svg');
}
.userdefined .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/userdefined/wG.svg');
}
.userdefined .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/userdefined/w+G.svg');
}
.userdefined .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/userdefined/wH.svg');
}
.userdefined .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/userdefined/w+H.svg');
}
.userdefined .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/userdefined/wI.svg');
}
.userdefined .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/userdefined/w+I.svg');
}
.userdefined .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/userdefined/wJ.svg');
}
.userdefined .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/userdefined/w+J.svg');
}
.userdefined .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/userdefined/wK.svg');
}
.userdefined .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/userdefined/w+K.svg');
}
.userdefined .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/userdefined/wL.svg');
}
.userdefined .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/userdefined/w+L.svg');
}
.userdefined .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/userdefined/wM.svg');
}
.userdefined .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/userdefined/w+M.svg');
}
.userdefined .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/userdefined/wN.svg');
}
.userdefined .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/userdefined/w+N.svg');
}
.userdefined .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/userdefined/wO.svg');
}
.userdefined .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/userdefined/w+O.svg');
}
.userdefined .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/userdefined/wP.svg');
}
.userdefined .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/userdefined/w+P.svg');
}
.userdefined .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/userdefined/wQ.svg');
}
.userdefined .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/userdefined/w+Q.svg');
}
.userdefined .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/userdefined/wR.svg');
}
.userdefined .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/userdefined/w+R.svg');
}
.userdefined .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/userdefined/wS.svg');
}
.userdefined .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/userdefined/w+S.svg');
}
.userdefined .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/userdefined/wT.svg');
}
.userdefined .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/userdefined/w+T.svg');
}
.userdefined .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/userdefined/wU.svg');
}
.userdefined .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/userdefined/w+U.svg');
}
.userdefined .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/userdefined/wV.svg');
}
.userdefined .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/userdefined/w+V.svg');
}
.userdefined .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/userdefined/wW.svg');
}
.userdefined .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/userdefined/w+W.svg');
}
.userdefined .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/userdefined/wX.svg');
}
.userdefined .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/userdefined/w+X.svg');
}
.userdefined .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/userdefined/wY.svg');
}
.userdefined .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/userdefined/w+Y.svg');
}
.userdefined .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/userdefined/wZ.svg');
}
.userdefined .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/userdefined/w+Z.svg');
}
.userdefined .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/userdefined/bA.svg');
}
.userdefined .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/userdefined/b+A.svg');
}
.userdefined .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/userdefined/bB.svg');
}
.userdefined .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/userdefined/b+B.svg');
}
.userdefined .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/userdefined/bC.svg');
}
.userdefined .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/userdefined/b+C.svg');
}
.userdefined .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/userdefined/bD.svg');
}
.userdefined .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/userdefined/b+D.svg');
}
.userdefined .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/userdefined/bE.svg');
}
.userdefined .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/userdefined/b+E.svg');
}
.userdefined .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/userdefined/bF.svg');
}
.userdefined .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/userdefined/b+F.svg');
}
.userdefined .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/userdefined/bG.svg');
}
.userdefined .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/userdefined/b+G.svg');
}
.userdefined .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/userdefined/bH.svg');
}
.userdefined .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/userdefined/b+H.svg');
}
.userdefined .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/userdefined/bI.svg');
}
.userdefined .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/userdefined/b+I.svg');
}
.userdefined .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/userdefined/bJ.svg');
}
.userdefined .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/userdefined/b+J.svg');
}
.userdefined .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/userdefined/bK.svg');
}
.userdefined .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/userdefined/b+K.svg');
}
.userdefined .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/userdefined/bL.svg');
}
.userdefined .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/userdefined/b+L.svg');
}
.userdefined .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/userdefined/bM.svg');
}
.userdefined .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/userdefined/b+M.svg');
}
.userdefined .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/userdefined/bN.svg');
}
.userdefined .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/userdefined/b+N.svg');
}
.userdefined .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/userdefined/bO.svg');
}
.userdefined .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/userdefined/b+O.svg');
}
.userdefined .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/userdefined/bP.svg');
}
.userdefined .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/userdefined/b+P.svg');
}
.userdefined .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/userdefined/bQ.svg');
}
.userdefined .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/userdefined/b+Q.svg');
}
.userdefined .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/userdefined/bR.svg');
}
.userdefined .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/userdefined/b+R.svg');
}
.userdefined .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/userdefined/bS.svg');
}
.userdefined .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/userdefined/b+S.svg');
}
.userdefined .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/userdefined/bT.svg');
}
.userdefined .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/userdefined/b+T.svg');
}
.userdefined .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/userdefined/bU.svg');
}
.userdefined .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/userdefined/b+U.svg');
}
.userdefined .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/userdefined/bV.svg');
}
.userdefined .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/userdefined/b+V.svg');
}
.userdefined .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/userdefined/bW.svg');
}
.userdefined .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/userdefined/b+W.svg');
}
.userdefined .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/userdefined/bX.svg');
}
.userdefined .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/userdefined/b+X.svg');
}
.userdefined .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/userdefined/bY.svg');
}
.userdefined .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/userdefined/b+Y.svg');
}
.userdefined .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/userdefined/bZ.svg');
}
.userdefined .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/userdefined/b+Z.svg');
}
.userdefined .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/lettertilebarrier.svg');
}
