.orda .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/orda/wP.svg');
}
.orda .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/orda/wB.svg');
}
.orda .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/orda/wN.svg');
}
.orda .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/orda/wR.svg');
}
.orda .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/orda/wQ.svg');
}
.orda .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/orda/wK.svg');
}
.orda .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/orda/wA.svg');
}
.orda .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/orda/wC.svg');
}
.orda .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/orda/wM.svg');
}
.orda .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/orda/wF.svg');
}
.orda .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/orda/wS.svg');
}
.orda .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/orda/wE.svg');
}
.orda .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/orda/wH.svg');
}
.orda .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/orda/wL.svg');
}
.orda .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/orda/wG.svg');
}
.orda .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/orda/wW.svg');
}
.orda .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/orda/wJ.svg');
}

.orda .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/orda/bP.svg');
}
.orda .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/orda/bQ.svg');
}
.orda .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/orda/bK.svg');
}
.orda .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/orda/bA.svg');
}
.orda .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/orda/bH.svg');
}
.orda .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/orda/bL.svg');
}
.orda .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/orda/bY.svg');
}

.orda .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.orda .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
