.ordamirror .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/ordamirror/wP.svg');
}
.ordamirror .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/ordamirror/wB.svg');
}
.ordamirror .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/ordamirror/wN.svg');
}
.ordamirror .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/ordamirror/wR.svg');
}
.ordamirror .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/ordamirror/wQ.svg');
}
.ordamirror .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/ordamirror/wK.svg');
}
.ordamirror .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/ordamirror/wA.svg');
}
.ordamirror .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/ordamirror/wC.svg');
}
.ordamirror .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/ordamirror/wM.svg');
}
.ordamirror .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/ordamirror/wF.svg');
}
.ordamirror .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/ordamirror/wS.svg');
}
.ordamirror .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/ordamirror/wE.svg');
}
.ordamirror .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/ordamirror/wH.svg');
}
.ordamirror .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/ordamirror/wL.svg');
}
.ordamirror .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/ordamirror/wG.svg');
}
.ordamirror .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/ordamirror/wW.svg');
}
.ordamirror .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/ordamirror/wJ.svg');
}

.ordamirror .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/ordamirror/bP.svg');
}
.ordamirror .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/ordamirror/bB.svg');
}
.ordamirror .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/ordamirror/bN.svg');
}
.ordamirror .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/ordamirror/bR.svg');
}
.ordamirror .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/ordamirror/bQ.svg');
}
.ordamirror .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/ordamirror/bK.svg');
}
.ordamirror .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/ordamirror/bA.svg');
}
.ordamirror .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/ordamirror/bC.svg');
}
.ordamirror .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/ordamirror/bM.svg');
}
.ordamirror .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/ordamirror/bF.svg');
}
.ordamirror .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/ordamirror/bS.svg');
}
.ordamirror .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/ordamirror/bE.svg');
}
.ordamirror .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/ordamirror/bH.svg');
}
.ordamirror .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/ordamirror/bL.svg');
}
.ordamirror .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/ordamirror/bG.svg');
}
.ordamirror .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/ordamirror/bW.svg');
}
.ordamirror .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/ordamirror/bJ.svg');
}

.ordamirror .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.ordamirror .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
