.default .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/default/wP.svg');
}
.default .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/default/wB.svg');
}
.default .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/default/wN.svg');
}
.default .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/default/wR.svg');
}
.default .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/default/wQ.svg');
}
.default .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/default/wK.svg');
}
.default .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/default/wA.svg');
}
.default .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/default/wC.svg');
}
.default .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/default/wM.svg');
}
.default .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/default/wF.svg');
}
.default .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/default/wS.svg');
}
.default .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/default/wE.svg');
}
.default .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/default/wH.svg');
}
.default .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/default/wL.svg');
}
.default .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/default/wG.svg');
}
.default .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/default/wW.svg');
}
.default .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/default/wJ.svg');
}

.default .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/default/bP.svg');
}
.default .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/default/bB.svg');
}
.default .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/default/bN.svg');
}
.default .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/default/bR.svg');
}
.default .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/default/bQ.svg');
}
.default .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/default/bK.svg');
}
.default .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/default/bA.svg');
}
.default .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/default/bC.svg');
}
.default .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/default/bM.svg');
}
.default .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/default/bF.svg');
}
.default .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/default/bS.svg');
}
.default .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/default/bE.svg');
}
.default .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/default/bH.svg');
}
.default .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/default/bL.svg');
}
.default .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/default/bG.svg');
}
.default .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/default/bW.svg');
}
.default .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/default/bJ.svg');
}


.default.board9x10 .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/default/wS.svg');
}
.default.board9x10 .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/default/wE.svg');
}
.default.board9x10 .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/default/wCa.svg');
}
.default.board9x10 .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/default/bS.svg');
}
.default.board9x10 .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/default/bE.svg');
}
.default.board9x10 .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/default/bCa.svg');
}