.cburnett .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/cburnett/wA.svg');
}
.cburnett .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/cburnett/w+A.svg');
}
.cburnett .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/cburnett/wB.svg');
}
.cburnett .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/cburnett/w+B.svg');
}
.cburnett .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/cburnett/wC.svg');
}
.cburnett .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/cburnett/w+C.svg');
}
.cburnett .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/cburnett/wD.svg');
}
.cburnett .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/cburnett/w+D.svg');
}
.cburnett .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/cburnett/wE.svg');
}
.cburnett .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/cburnett/w+E.svg');
}
.cburnett .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/cburnett/wF.svg');
}
.cburnett .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/cburnett/w+F.svg');
}
.cburnett .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/cburnett/wG.svg');
}
.cburnett .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/cburnett/w+G.svg');
}
.cburnett .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/cburnett/wH.svg');
}
.cburnett .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/cburnett/w+H.svg');
}
.cburnett .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/cburnett/wI.svg');
}
.cburnett .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/cburnett/w+I.svg');
}
.cburnett .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/cburnett/wJ.svg');
}
.cburnett .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/cburnett/w+J.svg');
}
.cburnett .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/cburnett/wK.svg');
}
.cburnett .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/cburnett/w+K.svg');
}
.cburnett .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/cburnett/wL.svg');
}
.cburnett .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/cburnett/w+L.svg');
}
.cburnett .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/cburnett/wM.svg');
}
.cburnett .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/cburnett/w+M.svg');
}
.cburnett .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/cburnett/wN.svg');
}
.cburnett .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/cburnett/w+N.svg');
}
.cburnett .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/cburnett/wO.svg');
}
.cburnett .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/cburnett/w+O.svg');
}
.cburnett .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/cburnett/wP.svg');
}
.cburnett .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/cburnett/w+P.svg');
}
.cburnett .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/cburnett/wQ.svg');
}
.cburnett .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/cburnett/w+Q.svg');
}
.cburnett .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/cburnett/wR.svg');
}
.cburnett .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/cburnett/w+R.svg');
}
.cburnett .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/cburnett/wS.svg');
}
.cburnett .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/cburnett/w+S.svg');
}
.cburnett .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/cburnett/wT.svg');
}
.cburnett .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/cburnett/w+T.svg');
}
.cburnett .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/cburnett/wU.svg');
}
.cburnett .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/cburnett/w+U.svg');
}
.cburnett .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/cburnett/wV.svg');
}
.cburnett .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/cburnett/w+V.svg');
}
.cburnett .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/cburnett/wW.svg');
}
.cburnett .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/cburnett/w+W.svg');
}
.cburnett .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/cburnett/wX.svg');
}
.cburnett .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/cburnett/w+X.svg');
}
.cburnett .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/cburnett/wY.svg');
}
.cburnett .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/cburnett/w+Y.svg');
}
.cburnett .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/cburnett/wZ.svg');
}
.cburnett .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/cburnett/w+Z.svg');
}

.cburnett .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/cburnett/bA.svg');
}
.cburnett .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/cburnett/b+A.svg');
}
.cburnett .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/cburnett/bB.svg');
}
.cburnett .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/cburnett/b+B.svg');
}
.cburnett .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/cburnett/bC.svg');
}
.cburnett .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/cburnett/b+C.svg');
}
.cburnett .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/cburnett/bD.svg');
}
.cburnett .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/cburnett/b+D.svg');
}
.cburnett .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/cburnett/bE.svg');
}
.cburnett .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/cburnett/b+E.svg');
}
.cburnett .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/cburnett/bF.svg');
}
.cburnett .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/cburnett/b+F.svg');
}
.cburnett .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/cburnett/bG.svg');
}
.cburnett .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/cburnett/b+G.svg');
}
.cburnett .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/cburnett/bH.svg');
}
.cburnett .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/cburnett/b+H.svg');
}
.cburnett .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/cburnett/bI.svg');
}
.cburnett .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/cburnett/b+I.svg');
}
.cburnett .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/cburnett/bJ.svg');
}
.cburnett .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/cburnett/b+J.svg');
}
.cburnett .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/cburnett/bK.svg');
}
.cburnett .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/cburnett/b+K.svg');
}
.cburnett .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/cburnett/bL.svg');
}
.cburnett .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/cburnett/b+L.svg');
}
.cburnett .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/cburnett/bM.svg');
}
.cburnett .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/cburnett/b+M.svg');
}
.cburnett .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/cburnett/bN.svg');
}
.cburnett .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/cburnett/b+N.svg');
}
.cburnett .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/cburnett/bO.svg');
}
.cburnett .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/cburnett/b+O.svg');
}
.cburnett .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/cburnett/bP.svg');
}
.cburnett .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/cburnett/b+P.svg');
}
.cburnett .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/cburnett/bQ.svg');
}
.cburnett .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/cburnett/b+Q.svg');
}
.cburnett .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/cburnett/bR.svg');
}
.cburnett .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/cburnett/b+R.svg');
}
.cburnett .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/cburnett/bS.svg');
}
.cburnett .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/cburnett/b+S.svg');
}
.cburnett .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/cburnett/bT.svg');
}
.cburnett .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/cburnett/b+T.svg');
}
.cburnett .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/cburnett/bU.svg');
}
.cburnett .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/cburnett/b+U.svg');
}
.cburnett .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/cburnett/bV.svg');
}
.cburnett .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/cburnett/b+V.svg');
}
.cburnett .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/cburnett/bW.svg');
}
.cburnett .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/cburnett/b+W.svg');
}
.cburnett .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/cburnett/bX.svg');
}
.cburnett .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/cburnett/b+X.svg');
}
.cburnett .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/cburnett/bY.svg');
}
.cburnett .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/cburnett/b+Y.svg');
}
.cburnett .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/cburnett/bZ.svg');
}
.cburnett .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/cburnett/b+Z.svg');
}

.cburnett .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/cross.svg');
}


.cburnett .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
