.cobaltboard {
  --dark-square-color: #6882a8;
  --light-square-color: #9bb5db;
}
.cobaltboard.board1x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x1.svg');
}
.cobaltboard.board1x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x2.svg');
}
.cobaltboard.board1x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x3.svg');
}
.cobaltboard.board1x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x4.svg');
}
.cobaltboard.board1x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x5.svg');
}
.cobaltboard.board1x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x6.svg');
}
.cobaltboard.board1x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x7.svg');
}
.cobaltboard.board1x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x8.svg');
}
.cobaltboard.board1x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x9.svg');
}
.cobaltboard.board1x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_1x10.svg');
}
.cobaltboard.board2x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x1.svg');
}
.cobaltboard.board2x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x2.svg');
}
.cobaltboard.board2x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x3.svg');
}
.cobaltboard.board2x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x4.svg');
}
.cobaltboard.board2x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x5.svg');
}
.cobaltboard.board2x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x6.svg');
}
.cobaltboard.board2x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x7.svg');
}
.cobaltboard.board2x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x8.svg');
}
.cobaltboard.board2x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x9.svg');
}
.cobaltboard.board2x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_2x10.svg');
}
.cobaltboard.board3x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x1.svg');
}
.cobaltboard.board3x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x2.svg');
}
.cobaltboard.board3x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x3.svg');
}
.cobaltboard.board3x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x4.svg');
}
.cobaltboard.board3x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x5.svg');
}
.cobaltboard.board3x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x6.svg');
}
.cobaltboard.board3x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x7.svg');
}
.cobaltboard.board3x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x8.svg');
}
.cobaltboard.board3x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x9.svg');
}
.cobaltboard.board3x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_3x10.svg');
}
.cobaltboard.board4x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x1.svg');
}
.cobaltboard.board4x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x2.svg');
}
.cobaltboard.board4x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x3.svg');
}
.cobaltboard.board4x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x4.svg');
}
.cobaltboard.board4x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x5.svg');
}
.cobaltboard.board4x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x6.svg');
}
.cobaltboard.board4x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x7.svg');
}
.cobaltboard.board4x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x8.svg');
}
.cobaltboard.board4x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x9.svg');
}
.cobaltboard.board4x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_4x10.svg');
}
.cobaltboard.board5x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x1.svg');
}
.cobaltboard.board5x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x2.svg');
}
.cobaltboard.board5x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x3.svg');
}
.cobaltboard.board5x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x4.svg');
}
.cobaltboard.board5x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x5.svg');
}
.cobaltboard.board5x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x6.svg');
}
.cobaltboard.board5x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x7.svg');
}
.cobaltboard.board5x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x8.svg');
}
.cobaltboard.board5x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x9.svg');
}
.cobaltboard.board5x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_5x10.svg');
}
.cobaltboard.board6x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x1.svg');
}
.cobaltboard.board6x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x2.svg');
}
.cobaltboard.board6x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x3.svg');
}
.cobaltboard.board6x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x4.svg');
}
.cobaltboard.board6x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x5.svg');
}
.cobaltboard.board6x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x6.svg');
}
.cobaltboard.board6x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x7.svg');
}
.cobaltboard.board6x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x8.svg');
}
.cobaltboard.board6x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x9.svg');
}
.cobaltboard.board6x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_6x10.svg');
}
.cobaltboard.board7x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x1.svg');
}
.cobaltboard.board7x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x2.svg');
}
.cobaltboard.board7x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x3.svg');
}
.cobaltboard.board7x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x4.svg');
}
.cobaltboard.board7x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x5.svg');
}
.cobaltboard.board7x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x6.svg');
}
.cobaltboard.board7x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x7.svg');
}
.cobaltboard.board7x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x8.svg');
}
.cobaltboard.board7x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x9.svg');
}
.cobaltboard.board7x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_7x10.svg');
}
.cobaltboard.board8x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x1.svg');
}
.cobaltboard.board8x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x2.svg');
}
.cobaltboard.board8x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x3.svg');
}
.cobaltboard.board8x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x4.svg');
}
.cobaltboard.board8x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x5.svg');
}
.cobaltboard.board8x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x6.svg');
}
.cobaltboard.board8x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x7.svg');
}
.cobaltboard.board8x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x8.svg');
}
.cobaltboard.board8x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x9.svg');
}
.cobaltboard.board8x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_8x10.svg');
}
.cobaltboard.board9x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x1.svg');
}
.cobaltboard.board9x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x2.svg');
}
.cobaltboard.board9x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x3.svg');
}
.cobaltboard.board9x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x4.svg');
}
.cobaltboard.board9x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x5.svg');
}
.cobaltboard.board9x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x6.svg');
}
.cobaltboard.board9x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x7.svg');
}
.cobaltboard.board9x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x8.svg');
}
.cobaltboard.board9x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x9.svg');
}
.cobaltboard.board9x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_9x10.svg');
}
.cobaltboard.board10x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x1.svg');
}
.cobaltboard.board10x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x2.svg');
}
.cobaltboard.board10x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x3.svg');
}
.cobaltboard.board10x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x4.svg');
}
.cobaltboard.board10x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x5.svg');
}
.cobaltboard.board10x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x6.svg');
}
.cobaltboard.board10x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x7.svg');
}
.cobaltboard.board10x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x8.svg');
}
.cobaltboard.board10x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x9.svg');
}
.cobaltboard.board10x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x10.svg');
}
.cobaltboard.board10x11 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x11.svg');
}
.cobaltboard.board10x12 cg-board {
  background-image: url('images/board/cobalt/cobalt_10x12.svg');
}
.cobaltboard.board11x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x1.svg');
}
.cobaltboard.board11x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x2.svg');
}
.cobaltboard.board11x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x3.svg');
}
.cobaltboard.board11x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x4.svg');
}
.cobaltboard.board11x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x5.svg');
}
.cobaltboard.board11x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x6.svg');
}
.cobaltboard.board11x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x7.svg');
}
.cobaltboard.board11x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x8.svg');
}
.cobaltboard.board11x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x9.svg');
}
.cobaltboard.board11x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_11x10.svg');
}
.cobaltboard.board12x1 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x1.svg');
}
.cobaltboard.board12x2 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x2.svg');
}
.cobaltboard.board12x3 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x3.svg');
}
.cobaltboard.board12x4 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x4.svg');
}
.cobaltboard.board12x5 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x5.svg');
}
.cobaltboard.board12x6 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x6.svg');
}
.cobaltboard.board12x7 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x7.svg');
}
.cobaltboard.board12x8 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x8.svg');
}
.cobaltboard.board12x9 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x9.svg');
}
.cobaltboard.board12x10 cg-board {
  background-image: url('images/board/cobalt/cobalt_12x10.svg');
}
