.khans .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/khans/wA.svg');
}
.khans .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/khans/w+A.svg');
}
.khans .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/khans/wB.svg');
}
.khans .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/khans/w+B.svg');
}
.khans .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/khans/wC.svg');
}
.khans .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/khans/w+C.svg');
}
.khans .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/khans/wD.svg');
}
.khans .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/khans/w+D.svg');
}
.khans .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/khans/wE.svg');
}
.khans .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/khans/w+E.svg');
}
.khans .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/khans/wF.svg');
}
.khans .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/khans/w+F.svg');
}
.khans .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/khans/wG.svg');
}
.khans .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/khans/w+G.svg');
}
.khans .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/khans/wH.svg');
}
.khans .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/khans/w+H.svg');
}
.khans .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/khans/wI.svg');
}
.khans .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/khans/w+I.svg');
}
.khans .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/khans/wJ.svg');
}
.khans .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/khans/w+J.svg');
}
.khans .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/khans/wK.svg');
}
.khans .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/khans/w+K.svg');
}
.khans .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/khans/wL.svg');
}
.khans .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/khans/w+L.svg');
}
.khans .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/khans/wM.svg');
}
.khans .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/khans/w+M.svg');
}
.khans .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/khans/wN.svg');
}
.khans .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/khans/w+N.svg');
}
.khans .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/khans/wO.svg');
}
.khans .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/khans/w+O.svg');
}
.khans .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/khans/wP.svg');
}
.khans .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/khans/w+P.svg');
}
.khans .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/khans/wQ.svg');
}
.khans .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/khans/w+Q.svg');
}
.khans .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/khans/wR.svg');
}
.khans .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/khans/w+R.svg');
}
.khans .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/khans/wS.svg');
}
.khans .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/khans/w+S.svg');
}
.khans .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/khans/wT.svg');
}
.khans .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/khans/w+T.svg');
}
.khans .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/khans/wU.svg');
}
.khans .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/khans/w+U.svg');
}
.khans .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/khans/wV.svg');
}
.khans .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/khans/w+V.svg');
}
.khans .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/khans/wW.svg');
}
.khans .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/khans/w+W.svg');
}
.khans .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/khans/wX.svg');
}
.khans .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/khans/w+X.svg');
}
.khans .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/khans/wY.svg');
}
.khans .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/khans/w+Y.svg');
}
.khans .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/khans/wZ.svg');
}
.khans .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/khans/w+Z.svg');
}

.khans .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/khans/bA.svg');
}
.khans .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/khans/b+A.svg');
}
.khans .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/khans/bB.svg');
}
.khans .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/khans/b+B.svg');
}
.khans .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/khans/bC.svg');
}
.khans .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/khans/b+C.svg');
}
.khans .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/khans/bD.svg');
}
.khans .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/khans/b+D.svg');
}
.khans .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/khans/bE.svg');
}
.khans .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/khans/b+E.svg');
}
.khans .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/khans/bF.svg');
}
.khans .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/khans/b+F.svg');
}
.khans .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/khans/bG.svg');
}
.khans .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/khans/b+G.svg');
}
.khans .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/khans/bH.svg');
}
.khans .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/khans/b+H.svg');
}
.khans .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/khans/bI.svg');
}
.khans .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/khans/b+I.svg');
}
.khans .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/khans/bJ.svg');
}
.khans .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/khans/b+J.svg');
}
.khans .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/khans/bK.svg');
}
.khans .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/khans/b+K.svg');
}
.khans .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/khans/bL.svg');
}
.khans .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/khans/b+L.svg');
}
.khans .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/khans/bM.svg');
}
.khans .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/khans/b+M.svg');
}
.khans .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/khans/bN.svg');
}
.khans .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/khans/b+N.svg');
}
.khans .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/khans/bO.svg');
}
.khans .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/khans/b+O.svg');
}
.khans .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/khans/bP.svg');
}
.khans .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/khans/b+P.svg');
}
.khans .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/khans/bQ.svg');
}
.khans .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/khans/b+Q.svg');
}
.khans .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/khans/bR.svg');
}
.khans .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/khans/b+R.svg');
}
.khans .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/khans/bS.svg');
}
.khans .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/khans/b+S.svg');
}
.khans .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/khans/bT.svg');
}
.khans .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/khans/b+T.svg');
}
.khans .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/khans/bU.svg');
}
.khans .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/khans/b+U.svg');
}
.khans .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/khans/bV.svg');
}
.khans .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/khans/b+V.svg');
}
.khans .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/khans/bW.svg');
}
.khans .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/khans/b+W.svg');
}
.khans .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/khans/bX.svg');
}
.khans .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/khans/b+X.svg');
}
.khans .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/khans/bY.svg');
}
.khans .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/khans/b+Y.svg');
}
.khans .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/khans/bZ.svg');
}
.khans .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/khans/b+Z.svg');
}

.khans .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/khans/wP.svg');
}
.khans .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/khans/wB.svg');
}
.khans .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/khans/wN.svg');
}
.khans .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/khans/wR.svg');
}
.khans .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/khans/wQ.svg');
}
.khans .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/khans/wK.svg');
}
.khans .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/khans/wA.svg');
}
.khans .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/khans/wC.svg');
}
.khans .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/khans/wM.svg');
}
.khans .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/khans/wF.svg');
}
.khans .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/khans/wS.svg');
}
.khans .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/khans/wE.svg');
}
.khans .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/khans/wH.svg');
}
.khans .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/khans/wL.svg');
}
.khans .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/khans/wG.svg');
}
.khans .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/khans/wW.svg');
}
.khans .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/khans/wJ.svg');
}

.khans .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/khans/bP.svg');
}
.khans .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/khans/bB.svg');
}
.khans .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/khans/bN.svg');
}
.khans .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/khans/bR.svg');
}
.khans .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/khans/bQ.svg');
}
.khans .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/khans/bK.svg');
}
.khans .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/khans/bA.svg');
}
.khans .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/khans/bC.svg');
}
.khans .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/khans/bM.svg');
}
.khans .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/khans/bF.svg');
}
.khans .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/khans/bS.svg');
}
.khans .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/khans/bE.svg');
}
.khans .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/khans/bH.svg');
}
.khans .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/khans/bL.svg');
}
.khans .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/khans/bG.svg');
}
.khans .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/khans/bW.svg');
}
.khans .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/khans/bJ.svg');
}

.khans .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.khans .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
