.flipello .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/flipello/wP.svg');
}

.flipello .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/flipello/bP.svg');
}

.flipello .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.flipello .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
