.seirawan .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/seirawan/wP.svg');
}
.seirawan .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/seirawan/wB.svg');
}
.seirawan .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/seirawan/wN.svg');
}
.seirawan .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/seirawan/wR.svg');
}
.seirawan .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/seirawan/wQ.svg');
}
.seirawan .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/seirawan/wK.svg');
}
.seirawan .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/seirawan/wA.svg');
}
.seirawan .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/seirawan/wC.svg');
}
.seirawan .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/seirawan/wM.svg');
}
.seirawan .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/seirawan/wF.svg');
}
.seirawan .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/seirawan/wS.svg');
}
.seirawan .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/seirawan/wE.svg');
}
.seirawan .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/seirawan/wH.svg');
}
.seirawan .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/seirawan/wL.svg');
}
.seirawan .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/seirawan/wG.svg');
}
.seirawan .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/seirawan/wW.svg');
}
.seirawan .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/seirawan/wJ.svg');
}

.seirawan .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/seirawan/bP.svg');
}
.seirawan .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/seirawan/bB.svg');
}
.seirawan .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/seirawan/bN.svg');
}
.seirawan .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/seirawan/bR.svg');
}
.seirawan .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/seirawan/bQ.svg');
}
.seirawan .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/seirawan/bK.svg');
}
.seirawan .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/seirawan/bA.svg');
}
.seirawan .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/seirawan/bC.svg');
}
.seirawan .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/seirawan/bM.svg');
}
.seirawan .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/seirawan/bF.svg');
}
.seirawan .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/seirawan/bS.svg');
}
.seirawan .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/seirawan/bE.svg');
}
.seirawan .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/seirawan/bH.svg');
}
.seirawan .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/seirawan/bL.svg');
}
.seirawan .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/seirawan/bG.svg');
}
.seirawan .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/seirawan/bW.svg');
}
.seirawan .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/seirawan/bJ.svg');
}

.seirawan .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.seirawan .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
