.chennis .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/chennis/wA.svg');
}
.chennis .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/chennis/w+A.svg');
}
.chennis .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/chennis/wB.svg');
}
.chennis .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/chennis/w+B.svg');
}
.chennis .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/chennis/wC.svg');
}
.chennis .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/chennis/w+C.svg');
}
.chennis .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/chennis/wD.svg');
}
.chennis .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/chennis/w+D.svg');
}
.chennis .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/chennis/wE.svg');
}
.chennis .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/chennis/w+E.svg');
}
.chennis .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/chennis/wF.svg');
}
.chennis .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/chennis/w+F.svg');
}
.chennis .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/chennis/wG.svg');
}
.chennis .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/chennis/w+G.svg');
}
.chennis .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/chennis/wH.svg');
}
.chennis .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/chennis/w+H.svg');
}
.chennis .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/chennis/wI.svg');
}
.chennis .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/chennis/w+I.svg');
}
.chennis .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/chennis/wJ.svg');
}
.chennis .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/chennis/w+J.svg');
}
.chennis .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/chennis/wK.svg');
}
.chennis .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/chennis/w+K.svg');
}
.chennis .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/chennis/wL.svg');
}
.chennis .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/chennis/w+L.svg');
}
.chennis .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/chennis/wM.svg');
}
.chennis .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/chennis/w+M.svg');
}
.chennis .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/chennis/wN.svg');
}
.chennis .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/chennis/w+N.svg');
}
.chennis .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/chennis/wO.svg');
}
.chennis .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/chennis/w+O.svg');
}
.chennis .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/chennis/wP.svg');
}
.chennis .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/chennis/w+P.svg');
}
.chennis .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/chennis/wQ.svg');
}
.chennis .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/chennis/w+Q.svg');
}
.chennis .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/chennis/wR.svg');
}
.chennis .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/chennis/w+R.svg');
}
.chennis .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/chennis/wS.svg');
}
.chennis .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/chennis/w+S.svg');
}
.chennis .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/chennis/wT.svg');
}
.chennis .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/chennis/w+T.svg');
}
.chennis .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/chennis/wU.svg');
}
.chennis .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/chennis/w+U.svg');
}
.chennis .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/chennis/wV.svg');
}
.chennis .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/chennis/w+V.svg');
}
.chennis .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/chennis/wW.svg');
}
.chennis .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/chennis/w+W.svg');
}
.chennis .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/chennis/wX.svg');
}
.chennis .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/chennis/w+X.svg');
}
.chennis .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/chennis/wY.svg');
}
.chennis .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/chennis/w+Y.svg');
}
.chennis .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/chennis/wZ.svg');
}
.chennis .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/chennis/w+Z.svg');
}

.chennis .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/chennis/bA.svg');
}
.chennis .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/chennis/b+A.svg');
}
.chennis .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/chennis/bB.svg');
}
.chennis .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/chennis/b+B.svg');
}
.chennis .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/chennis/bC.svg');
}
.chennis .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/chennis/b+C.svg');
}
.chennis .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/chennis/bD.svg');
}
.chennis .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/chennis/b+D.svg');
}
.chennis .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/chennis/bE.svg');
}
.chennis .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/chennis/b+E.svg');
}
.chennis .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/chennis/bF.svg');
}
.chennis .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/chennis/b+F.svg');
}
.chennis .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/chennis/bG.svg');
}
.chennis .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/chennis/b+G.svg');
}
.chennis .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/chennis/bH.svg');
}
.chennis .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/chennis/b+H.svg');
}
.chennis .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/chennis/bI.svg');
}
.chennis .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/chennis/b+I.svg');
}
.chennis .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/chennis/bJ.svg');
}
.chennis .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/chennis/b+J.svg');
}
.chennis .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/chennis/bK.svg');
}
.chennis .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/chennis/b+K.svg');
}
.chennis .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/chennis/bL.svg');
}
.chennis .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/chennis/b+L.svg');
}
.chennis .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/chennis/bM.svg');
}
.chennis .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/chennis/b+M.svg');
}
.chennis .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/chennis/bN.svg');
}
.chennis .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/chennis/b+N.svg');
}
.chennis .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/chennis/bO.svg');
}
.chennis .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/chennis/b+O.svg');
}
.chennis .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/chennis/bP.svg');
}
.chennis .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/chennis/b+P.svg');
}
.chennis .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/chennis/bQ.svg');
}
.chennis .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/chennis/b+Q.svg');
}
.chennis .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/chennis/bR.svg');
}
.chennis .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/chennis/b+R.svg');
}
.chennis .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/chennis/bS.svg');
}
.chennis .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/chennis/b+S.svg');
}
.chennis .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/chennis/bT.svg');
}
.chennis .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/chennis/b+T.svg');
}
.chennis .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/chennis/bU.svg');
}
.chennis .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/chennis/b+U.svg');
}
.chennis .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/chennis/bV.svg');
}
.chennis .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/chennis/b+V.svg');
}
.chennis .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/chennis/bW.svg');
}
.chennis .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/chennis/b+W.svg');
}
.chennis .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/chennis/bX.svg');
}
.chennis .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/chennis/b+X.svg');
}
.chennis .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/chennis/bY.svg');
}
.chennis .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/chennis/b+Y.svg');
}
.chennis .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/chennis/bZ.svg');
}
.chennis .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/chennis/b+Z.svg');
}

.chennis .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/chennis/wP.svg');
}
.chennis .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/chennis/wB.svg');
}
.chennis .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/chennis/wN.svg');
}
.chennis .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/chennis/wR.svg');
}
.chennis .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/chennis/wQ.svg');
}
.chennis .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/chennis/wK.svg');
}
.chennis .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/chennis/wA.svg');
}
.chennis .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/chennis/wC.svg');
}
.chennis .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/chennis/wM.svg');
}
.chennis .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/chennis/wF.svg');
}
.chennis .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/chennis/wS.svg');
}
.chennis .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/chennis/wE.svg');
}
.chennis .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/chennis/wH.svg');
}
.chennis .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/chennis/wL.svg');
}
.chennis .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/chennis/wG.svg');
}
.chennis .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/chennis/wW.svg');
}
.chennis .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/chennis/wJ.svg');
}

.chennis .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/chennis/bP.svg');
}
.chennis .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/chennis/bB.svg');
}
.chennis .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/chennis/bN.svg');
}
.chennis .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/chennis/bR.svg');
}
.chennis .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/chennis/bQ.svg');
}
.chennis .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/chennis/bK.svg');
}
.chennis .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/chennis/bA.svg');
}
.chennis .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/chennis/bC.svg');
}
.chennis .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/chennis/bM.svg');
}
.chennis .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/chennis/bF.svg');
}
.chennis .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/chennis/bS.svg');
}
.chennis .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/chennis/bE.svg');
}
.chennis .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/chennis/bH.svg');
}
.chennis .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/chennis/bL.svg');
}
.chennis .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/chennis/bG.svg');
}
.chennis .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/chennis/bW.svg');
}
.chennis .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/chennis/bJ.svg');
}

.chennis .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.chennis .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
