.shinobi .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/shinobi/wP.svg');
}
.shinobi .cg-wrap piece.b-piece.white, .shinobi .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/shinobi/wB.svg');
}
.shinobi .cg-wrap piece.n-piece.white, .shinobi .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/shinobi/wN.svg');
}
.shinobi .cg-wrap piece.r-piece.white, .shinobi .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/shinobi/wR.svg');
}
.shinobi .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/shinobi/wQ.svg');
}
.shinobi .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/shinobi/wK.svg');
}
.shinobi .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/shinobi/wA.svg');
}
.shinobi .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/shinobi/wD.svg');
}
.shinobi .cg-wrap piece.c-piece.white, .shinobi .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/shinobi/wC.svg');
}
.shinobi .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/shinobi/wM.svg');
}
.shinobi .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/shinobi/wF.svg');
}
.shinobi .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/shinobi/wS.svg');
}
.shinobi .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/shinobi/wE.svg');
}
.shinobi .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/shinobi/wH.svg');
}
.shinobi .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/shinobi/wL.svg');
}
.shinobi .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/shinobi/wG.svg');
}
.shinobi .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/shinobi/wW.svg');
}
.shinobi .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/shinobi/wJ.svg');
}

.shinobi .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/shinobi/bP.svg');
}
.shinobi .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/shinobi/bB.svg');
}
.shinobi .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/shinobi/bN.svg');
}
.shinobi .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/shinobi/bR.svg');
}
.shinobi .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/shinobi/bQ.svg');
}
.shinobi .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/shinobi/bK.svg');
}
.shinobi .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/shinobi/bA.svg');
}
.shinobi .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/shinobi/bC.svg');
}
.shinobi .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/shinobi/bM.svg');
}
.shinobi .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/shinobi/bF.svg');
}
.shinobi .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/shinobi/bS.svg');
}
.shinobi .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/shinobi/bE.svg');
}
.shinobi .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/shinobi/bH.svg');
}
.shinobi .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/shinobi/bL.svg');
}
.shinobi .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/shinobi/bG.svg');
}
.shinobi .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/shinobi/bW.svg');
}
.shinobi .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/shinobi/bJ.svg');
}

.shinobi .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.shinobi .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
