.ordavsempire .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/ordavsempire/bP.svg');
}
.ordavsempire .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/ordavsempire/bD.svg');
}
.ordavsempire .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/ordavsempire/bB.svg');
}
.ordavsempire .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/ordavsempire/bN.svg');
}
.ordavsempire .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/ordavsempire/bR.svg');
}
.ordavsempire .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/ordavsempire/bQ.svg');
}
.ordavsempire .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/ordavsempire/bK.svg');
}
.ordavsempire .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/ordavsempire/bA.svg');
}
.ordavsempire .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/ordavsempire/bC.svg');
}
.ordavsempire .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/ordavsempire/bM.svg');
}
.ordavsempire .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/ordavsempire/bF.svg');
}
.ordavsempire .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/ordavsempire/bS.svg');
}
.ordavsempire .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/ordavsempire/bE.svg');
}
.ordavsempire .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/ordavsempire/bH.svg');
}
.ordavsempire .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/ordavsempire/bL.svg');
}
.ordavsempire .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/ordavsempire/bG.svg');
}
.ordavsempire .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/ordavsempire/bW.svg');
}
.ordavsempire .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/ordavsempire/bJ.svg');
}
.ordavsempire .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/ordavsempire/bT.svg');
}

.ordavsempire .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/ordavsempire/wP.svg');
}
.ordavsempire .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/ordavsempire/wQ.svg');
}
.ordavsempire .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/ordavsempire/wK.svg');
}
.ordavsempire .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/ordavsempire/wA.svg');
}
.ordavsempire .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/ordavsempire/wH.svg');
}
.ordavsempire .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/ordavsempire/wL.svg');
}
.ordavsempire .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/ordavsempire/wY.svg');

.ordavsempire .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.ordavsempire .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
