.makruk .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/makruk/wA.svg');
}
.makruk .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/makruk/w+A.svg');
}
.makruk .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/makruk/wB.svg');
}
.makruk .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/makruk/w+B.svg');
}
.makruk .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/makruk/wC.svg');
}
.makruk .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/makruk/w+C.svg');
}
.makruk .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/makruk/wD.svg');
}
.makruk .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/makruk/w+D.svg');
}
.makruk .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/makruk/wE.svg');
}
.makruk .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/makruk/w+E.svg');
}
.makruk .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/makruk/wF.svg');
}
.makruk .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/makruk/w+F.svg');
}
.makruk .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/makruk/wG.svg');
}
.makruk .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/makruk/w+G.svg');
}
.makruk .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/makruk/wH.svg');
}
.makruk .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/makruk/w+H.svg');
}
.makruk .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/makruk/wI.svg');
}
.makruk .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/makruk/w+I.svg');
}
.makruk .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/makruk/wJ.svg');
}
.makruk .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/makruk/w+J.svg');
}
.makruk .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/makruk/wK.svg');
}
.makruk .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/makruk/w+K.svg');
}
.makruk .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/makruk/wL.svg');
}
.makruk .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/makruk/w+L.svg');
}
.makruk .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/makruk/wM.svg');
}
.makruk .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/makruk/w+M.svg');
}
.makruk .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/makruk/wN.svg');
}
.makruk .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/makruk/w+N.svg');
}
.makruk .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/makruk/wO.svg');
}
.makruk .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/makruk/w+O.svg');
}
.makruk .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/makruk/wP.svg');
}
.makruk .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/makruk/w+P.svg');
}
.makruk .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/makruk/wQ.svg');
}
.makruk .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/makruk/w+Q.svg');
}
.makruk .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/makruk/wR.svg');
}
.makruk .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/makruk/w+R.svg');
}
.makruk .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/makruk/wS.svg');
}
.makruk .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/makruk/w+S.svg');
}
.makruk .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/makruk/wT.svg');
}
.makruk .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/makruk/w+T.svg');
}
.makruk .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/makruk/wU.svg');
}
.makruk .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/makruk/w+U.svg');
}
.makruk .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/makruk/wV.svg');
}
.makruk .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/makruk/w+V.svg');
}
.makruk .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/makruk/wW.svg');
}
.makruk .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/makruk/w+W.svg');
}
.makruk .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/makruk/wX.svg');
}
.makruk .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/makruk/w+X.svg');
}
.makruk .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/makruk/wY.svg');
}
.makruk .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/makruk/w+Y.svg');
}
.makruk .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/makruk/wZ.svg');
}
.makruk .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/makruk/w+Z.svg');
}

.makruk .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/makruk/bA.svg');
}
.makruk .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/makruk/b+A.svg');
}
.makruk .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/makruk/bB.svg');
}
.makruk .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/makruk/b+B.svg');
}
.makruk .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/makruk/bC.svg');
}
.makruk .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/makruk/b+C.svg');
}
.makruk .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/makruk/bD.svg');
}
.makruk .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/makruk/b+D.svg');
}
.makruk .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/makruk/bE.svg');
}
.makruk .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/makruk/b+E.svg');
}
.makruk .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/makruk/bF.svg');
}
.makruk .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/makruk/b+F.svg');
}
.makruk .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/makruk/bG.svg');
}
.makruk .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/makruk/b+G.svg');
}
.makruk .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/makruk/bH.svg');
}
.makruk .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/makruk/b+H.svg');
}
.makruk .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/makruk/bI.svg');
}
.makruk .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/makruk/b+I.svg');
}
.makruk .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/makruk/bJ.svg');
}
.makruk .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/makruk/b+J.svg');
}
.makruk .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/makruk/bK.svg');
}
.makruk .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/makruk/b+K.svg');
}
.makruk .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/makruk/bL.svg');
}
.makruk .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/makruk/b+L.svg');
}
.makruk .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/makruk/bM.svg');
}
.makruk .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/makruk/b+M.svg');
}
.makruk .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/makruk/bN.svg');
}
.makruk .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/makruk/b+N.svg');
}
.makruk .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/makruk/bO.svg');
}
.makruk .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/makruk/b+O.svg');
}
.makruk .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/makruk/bP.svg');
}
.makruk .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/makruk/b+P.svg');
}
.makruk .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/makruk/bQ.svg');
}
.makruk .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/makruk/b+Q.svg');
}
.makruk .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/makruk/bR.svg');
}
.makruk .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/makruk/b+R.svg');
}
.makruk .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/makruk/bS.svg');
}
.makruk .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/makruk/b+S.svg');
}
.makruk .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/makruk/bT.svg');
}
.makruk .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/makruk/b+T.svg');
}
.makruk .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/makruk/bU.svg');
}
.makruk .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/makruk/b+U.svg');
}
.makruk .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/makruk/bV.svg');
}
.makruk .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/makruk/b+V.svg');
}
.makruk .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/makruk/bW.svg');
}
.makruk .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/makruk/b+W.svg');
}
.makruk .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/makruk/bX.svg');
}
.makruk .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/makruk/b+X.svg');
}
.makruk .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/makruk/bY.svg');
}
.makruk .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/makruk/b+Y.svg');
}
.makruk .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/makruk/bZ.svg');
}
.makruk .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/makruk/b+Z.svg');
}

.makruk .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/makruk/wP.svg');
}
.makruk .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/makruk/wB.svg');
}
.makruk .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/makruk/wN.svg');
}
.makruk .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/makruk/wR.svg');
}
.makruk .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/makruk/wQ.svg');
}
.makruk .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/makruk/wK.svg');
}
.makruk .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/makruk/wA.svg');
}
.makruk .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/makruk/wC.svg');
}
.makruk .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/makruk/wM.svg');
}
.makruk .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/makruk/wF.svg');
}
.makruk .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/makruk/wS.svg');
}
.makruk .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/makruk/wE.svg');
}
.makruk .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/makruk/wH.svg');
}
.makruk .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/makruk/wL.svg');
}
.makruk .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/makruk/wG.svg');
}
.makruk .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/makruk/wW.svg');
}
.makruk .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/makruk/wJ.svg');
}

.makruk .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/makruk/bP.svg');
}
.makruk .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/makruk/bB.svg');
}
.makruk .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/makruk/bN.svg');
}
.makruk .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/makruk/bR.svg');
}
.makruk .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/makruk/bQ.svg');
}
.makruk .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/makruk/bK.svg');
}
.makruk .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/makruk/bA.svg');
}
.makruk .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/makruk/bC.svg');
}
.makruk .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/makruk/bM.svg');
}
.makruk .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/makruk/bF.svg');
}
.makruk .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/makruk/bS.svg');
}
.makruk .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/makruk/bE.svg');
}
.makruk .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/makruk/bH.svg');
}
.makruk .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/makruk/bL.svg');
}
.makruk .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/makruk/bG.svg');
}
.makruk .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/makruk/bW.svg');
}
.makruk .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/makruk/bJ.svg');
}

.makruk .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.makruk .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
