.janggi .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/janggi/wA.svg');
}
.janggi .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/janggi/w+A.svg');
}
.janggi .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/janggi/wB.svg');
}
.janggi .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/janggi/w+B.svg');
}
.janggi .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/janggi/wC.svg');
}
.janggi .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/janggi/w+C.svg');
}
.janggi .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/janggi/wD.svg');
}
.janggi .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/janggi/w+D.svg');
}
.janggi .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/janggi/wE.svg');
}
.janggi .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/janggi/w+E.svg');
}
.janggi .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/janggi/wF.svg');
}
.janggi .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/janggi/w+F.svg');
}
.janggi .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/janggi/wG.svg');
}
.janggi .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/janggi/w+G.svg');
}
.janggi .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/janggi/wH.svg');
}
.janggi .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/janggi/w+H.svg');
}
.janggi .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/janggi/wI.svg');
}
.janggi .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/janggi/w+I.svg');
}
.janggi .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/janggi/wJ.svg');
}
.janggi .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/janggi/w+J.svg');
}
.janggi .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/janggi/wK.svg');
}
.janggi .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/janggi/w+K.svg');
}
.janggi .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/janggi/wL.svg');
}
.janggi .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/janggi/w+L.svg');
}
.janggi .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/janggi/wM.svg');
}
.janggi .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/janggi/w+M.svg');
}
.janggi .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/janggi/wN.svg');
}
.janggi .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/janggi/w+N.svg');
}
.janggi .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/janggi/wO.svg');
}
.janggi .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/janggi/w+O.svg');
}
.janggi .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/janggi/wP.svg');
}
.janggi .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/janggi/w+P.svg');
}
.janggi .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/janggi/wQ.svg');
}
.janggi .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/janggi/w+Q.svg');
}
.janggi .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/janggi/wR.svg');
}
.janggi .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/janggi/w+R.svg');
}
.janggi .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/janggi/wS.svg');
}
.janggi .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/janggi/w+S.svg');
}
.janggi .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/janggi/wT.svg');
}
.janggi .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/janggi/w+T.svg');
}
.janggi .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/janggi/wU.svg');
}
.janggi .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/janggi/w+U.svg');
}
.janggi .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/janggi/wV.svg');
}
.janggi .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/janggi/w+V.svg');
}
.janggi .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/janggi/wW.svg');
}
.janggi .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/janggi/w+W.svg');
}
.janggi .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/janggi/wX.svg');
}
.janggi .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/janggi/w+X.svg');
}
.janggi .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/janggi/wY.svg');
}
.janggi .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/janggi/w+Y.svg');
}
.janggi .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/janggi/wZ.svg');
}
.janggi .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/janggi/w+Z.svg');
}

.janggi .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/janggi/bA.svg');
}
.janggi .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/janggi/b+A.svg');
}
.janggi .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/janggi/bB.svg');
}
.janggi .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/janggi/b+B.svg');
}
.janggi .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/janggi/bC.svg');
}
.janggi .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/janggi/b+C.svg');
}
.janggi .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/janggi/bD.svg');
}
.janggi .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/janggi/b+D.svg');
}
.janggi .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/janggi/bE.svg');
}
.janggi .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/janggi/b+E.svg');
}
.janggi .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/janggi/bF.svg');
}
.janggi .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/janggi/b+F.svg');
}
.janggi .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/janggi/bG.svg');
}
.janggi .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/janggi/b+G.svg');
}
.janggi .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/janggi/bH.svg');
}
.janggi .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/janggi/b+H.svg');
}
.janggi .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/janggi/bI.svg');
}
.janggi .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/janggi/b+I.svg');
}
.janggi .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/janggi/bJ.svg');
}
.janggi .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/janggi/b+J.svg');
}
.janggi .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/janggi/bK.svg');
}
.janggi .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/janggi/b+K.svg');
}
.janggi .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/janggi/bL.svg');
}
.janggi .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/janggi/b+L.svg');
}
.janggi .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/janggi/bM.svg');
}
.janggi .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/janggi/b+M.svg');
}
.janggi .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/janggi/bN.svg');
}
.janggi .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/janggi/b+N.svg');
}
.janggi .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/janggi/bO.svg');
}
.janggi .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/janggi/b+O.svg');
}
.janggi .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/janggi/bP.svg');
}
.janggi .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/janggi/b+P.svg');
}
.janggi .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/janggi/bQ.svg');
}
.janggi .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/janggi/b+Q.svg');
}
.janggi .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/janggi/bR.svg');
}
.janggi .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/janggi/b+R.svg');
}
.janggi .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/janggi/bS.svg');
}
.janggi .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/janggi/b+S.svg');
}
.janggi .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/janggi/bT.svg');
}
.janggi .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/janggi/b+T.svg');
}
.janggi .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/janggi/bU.svg');
}
.janggi .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/janggi/b+U.svg');
}
.janggi .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/janggi/bV.svg');
}
.janggi .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/janggi/b+V.svg');
}
.janggi .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/janggi/bW.svg');
}
.janggi .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/janggi/b+W.svg');
}
.janggi .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/janggi/bX.svg');
}
.janggi .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/janggi/b+X.svg');
}
.janggi .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/janggi/bY.svg');
}
.janggi .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/janggi/b+Y.svg');
}
.janggi .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/janggi/bZ.svg');
}
.janggi .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/janggi/b+Z.svg');
}

.janggi .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/janggi/wP.svg');
}
.janggi .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/janggi/wB.svg');
}
.janggi .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/janggi/wN.svg');
}
.janggi .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/janggi/wR.svg');
}
.janggi .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/janggi/wQ.svg');
}
.janggi .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/janggi/wK.svg');
}
.janggi .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/janggi/wA.svg');
}
.janggi .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/janggi/wC.svg');
}
.janggi .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/janggi/wM.svg');
}
.janggi .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/janggi/wF.svg');
}
.janggi .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/janggi/wS.svg');
}
.janggi .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/janggi/wE.svg');
}
.janggi .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/janggi/wH.svg');
}
.janggi .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/janggi/wL.svg');
}
.janggi .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/janggi/wG.svg');
}
.janggi .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/janggi/wW.svg');
}
.janggi .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/janggi/wJ.svg');
}

.janggi .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/janggi/bP.svg');
}
.janggi .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/janggi/bB.svg');
}
.janggi .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/janggi/bN.svg');
}
.janggi .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/janggi/bR.svg');
}
.janggi .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/janggi/bQ.svg');
}
.janggi .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/janggi/bK.svg');
}
.janggi .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/janggi/bA.svg');
}
.janggi .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/janggi/bC.svg');
}
.janggi .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/janggi/bM.svg');
}
.janggi .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/janggi/bF.svg');
}
.janggi .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/janggi/bS.svg');
}
.janggi .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/janggi/bE.svg');
}
.janggi .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/janggi/bH.svg');
}
.janggi .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/janggi/bL.svg');
}
.janggi .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/janggi/bG.svg');
}
.janggi .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/janggi/bW.svg');
}
.janggi .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/janggi/bJ.svg');
}

.janggi .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.janggi .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
