.sittuyin .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/sittuyin/wA.svg');
}
.sittuyin .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/sittuyin/w+A.svg');
}
.sittuyin .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/sittuyin/wB.svg');
}
.sittuyin .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/sittuyin/w+B.svg');
}
.sittuyin .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/sittuyin/wC.svg');
}
.sittuyin .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/sittuyin/w+C.svg');
}
.sittuyin .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/sittuyin/wD.svg');
}
.sittuyin .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/sittuyin/w+D.svg');
}
.sittuyin .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/sittuyin/wE.svg');
}
.sittuyin .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/sittuyin/w+E.svg');
}
.sittuyin .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/sittuyin/wF.svg');
}
.sittuyin .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/sittuyin/w+F.svg');
}
.sittuyin .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/sittuyin/wG.svg');
}
.sittuyin .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/sittuyin/w+G.svg');
}
.sittuyin .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/sittuyin/wH.svg');
}
.sittuyin .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/sittuyin/w+H.svg');
}
.sittuyin .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/sittuyin/wI.svg');
}
.sittuyin .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/sittuyin/w+I.svg');
}
.sittuyin .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/sittuyin/wJ.svg');
}
.sittuyin .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/sittuyin/w+J.svg');
}
.sittuyin .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/sittuyin/wK.svg');
}
.sittuyin .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/sittuyin/w+K.svg');
}
.sittuyin .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/sittuyin/wL.svg');
}
.sittuyin .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/sittuyin/w+L.svg');
}
.sittuyin .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/sittuyin/wM.svg');
}
.sittuyin .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/sittuyin/w+M.svg');
}
.sittuyin .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/sittuyin/wN.svg');
}
.sittuyin .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/sittuyin/w+N.svg');
}
.sittuyin .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/sittuyin/wO.svg');
}
.sittuyin .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/sittuyin/w+O.svg');
}
.sittuyin .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/sittuyin/wP.svg');
}
.sittuyin .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/sittuyin/w+P.svg');
}
.sittuyin .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/sittuyin/wQ.svg');
}
.sittuyin .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/sittuyin/w+Q.svg');
}
.sittuyin .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/sittuyin/wR.svg');
}
.sittuyin .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/sittuyin/w+R.svg');
}
.sittuyin .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/sittuyin/wS.svg');
}
.sittuyin .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/sittuyin/w+S.svg');
}
.sittuyin .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/sittuyin/wT.svg');
}
.sittuyin .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/sittuyin/w+T.svg');
}
.sittuyin .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/sittuyin/wU.svg');
}
.sittuyin .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/sittuyin/w+U.svg');
}
.sittuyin .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/sittuyin/wV.svg');
}
.sittuyin .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/sittuyin/w+V.svg');
}
.sittuyin .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/sittuyin/wW.svg');
}
.sittuyin .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/sittuyin/w+W.svg');
}
.sittuyin .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/sittuyin/wX.svg');
}
.sittuyin .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/sittuyin/w+X.svg');
}
.sittuyin .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/sittuyin/wY.svg');
}
.sittuyin .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/sittuyin/w+Y.svg');
}
.sittuyin .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/sittuyin/wZ.svg');
}
.sittuyin .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/sittuyin/w+Z.svg');
}

.sittuyin .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/sittuyin/bA.svg');
}
.sittuyin .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/sittuyin/b+A.svg');
}
.sittuyin .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/sittuyin/bB.svg');
}
.sittuyin .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/sittuyin/b+B.svg');
}
.sittuyin .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/sittuyin/bC.svg');
}
.sittuyin .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/sittuyin/b+C.svg');
}
.sittuyin .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/sittuyin/bD.svg');
}
.sittuyin .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/sittuyin/b+D.svg');
}
.sittuyin .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/sittuyin/bE.svg');
}
.sittuyin .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/sittuyin/b+E.svg');
}
.sittuyin .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/sittuyin/bF.svg');
}
.sittuyin .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/sittuyin/b+F.svg');
}
.sittuyin .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/sittuyin/bG.svg');
}
.sittuyin .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/sittuyin/b+G.svg');
}
.sittuyin .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/sittuyin/bH.svg');
}
.sittuyin .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/sittuyin/b+H.svg');
}
.sittuyin .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/sittuyin/bI.svg');
}
.sittuyin .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/sittuyin/b+I.svg');
}
.sittuyin .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/sittuyin/bJ.svg');
}
.sittuyin .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/sittuyin/b+J.svg');
}
.sittuyin .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/sittuyin/bK.svg');
}
.sittuyin .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/sittuyin/b+K.svg');
}
.sittuyin .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/sittuyin/bL.svg');
}
.sittuyin .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/sittuyin/b+L.svg');
}
.sittuyin .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/sittuyin/bM.svg');
}
.sittuyin .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/sittuyin/b+M.svg');
}
.sittuyin .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/sittuyin/bN.svg');
}
.sittuyin .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/sittuyin/b+N.svg');
}
.sittuyin .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/sittuyin/bO.svg');
}
.sittuyin .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/sittuyin/b+O.svg');
}
.sittuyin .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/sittuyin/bP.svg');
}
.sittuyin .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/sittuyin/b+P.svg');
}
.sittuyin .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/sittuyin/bQ.svg');
}
.sittuyin .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/sittuyin/b+Q.svg');
}
.sittuyin .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/sittuyin/bR.svg');
}
.sittuyin .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/sittuyin/b+R.svg');
}
.sittuyin .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/sittuyin/bS.svg');
}
.sittuyin .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/sittuyin/b+S.svg');
}
.sittuyin .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/sittuyin/bT.svg');
}
.sittuyin .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/sittuyin/b+T.svg');
}
.sittuyin .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/sittuyin/bU.svg');
}
.sittuyin .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/sittuyin/b+U.svg');
}
.sittuyin .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/sittuyin/bV.svg');
}
.sittuyin .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/sittuyin/b+V.svg');
}
.sittuyin .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/sittuyin/bW.svg');
}
.sittuyin .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/sittuyin/b+W.svg');
}
.sittuyin .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/sittuyin/bX.svg');
}
.sittuyin .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/sittuyin/b+X.svg');
}
.sittuyin .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/sittuyin/bY.svg');
}
.sittuyin .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/sittuyin/b+Y.svg');
}
.sittuyin .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/sittuyin/bZ.svg');
}
.sittuyin .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/sittuyin/b+Z.svg');
}

.sittuyin .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/sittuyin/wP.svg');
}
.sittuyin .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/sittuyin/wB.svg');
}
.sittuyin .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/sittuyin/wN.svg');
}
.sittuyin .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/sittuyin/wR.svg');
}
.sittuyin .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/sittuyin/wQ.svg');
}
.sittuyin .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/sittuyin/wK.svg');
}
.sittuyin .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/sittuyin/wA.svg');
}
.sittuyin .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/sittuyin/wC.svg');
}
.sittuyin .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/sittuyin/wM.svg');
}
.sittuyin .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/sittuyin/wF.svg');
}
.sittuyin .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/sittuyin/wS.svg');
}
.sittuyin .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/sittuyin/wE.svg');
}
.sittuyin .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/sittuyin/wH.svg');
}
.sittuyin .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/sittuyin/wL.svg');
}
.sittuyin .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/sittuyin/wG.svg');
}
.sittuyin .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/sittuyin/wW.svg');
}
.sittuyin .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/sittuyin/wJ.svg');
}

.sittuyin .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/sittuyin/bP.svg');
}
.sittuyin .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/sittuyin/bB.svg');
}
.sittuyin .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/sittuyin/bN.svg');
}
.sittuyin .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/sittuyin/bR.svg');
}
.sittuyin .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/sittuyin/bQ.svg');
}
.sittuyin .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/sittuyin/bK.svg');
}
.sittuyin .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/sittuyin/bA.svg');
}
.sittuyin .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/sittuyin/bC.svg');
}
.sittuyin .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/sittuyin/bM.svg');
}
.sittuyin .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/sittuyin/bF.svg');
}
.sittuyin .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/sittuyin/bS.svg');
}
.sittuyin .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/sittuyin/bE.svg');
}
.sittuyin .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/sittuyin/bH.svg');
}
.sittuyin .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/sittuyin/bL.svg');
}
.sittuyin .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/sittuyin/bG.svg');
}
.sittuyin .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/sittuyin/bW.svg');
}
.sittuyin .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/sittuyin/bJ.svg');
}

.sittuyin .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.sittuyin .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
