.torishogiboard.board7x7 cg-board {
  background-image: url('images/board/torishogi/torishogiboard.svg');
  width: 100%;
  height: 100%;
}

.torishogiboard.board7x7 .cg-wrap.manipulable.orientation-white, .torishogiboard.board7x7 .cg-wrap.manipulable.orientation-black {
  width: 546px;
  height: 630px;
  position: relative;
  display: block;
}

.torishogiboard.board7x7 .cg-wrap.micro {
  width: calc(546px * 0.5);
  height: calc(630px * 0.5);
  position: relative;
  display: block;
}

.torishogiboard.board7x7 .cg-wrap piece {
  position: absolute;
}