.shinobiplus .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/shinobiplus/wA.svg');
}
.shinobiplus .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/shinobiplus/w+A.svg');
}
.shinobiplus .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/shinobiplus/wB.svg');
}
.shinobiplus .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/shinobiplus/w+B.svg');
}
.shinobiplus .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/shinobiplus/wC.svg');
}
.shinobiplus .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/shinobiplus/w+C.svg');
}
.shinobiplus .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/shinobiplus/wD.svg');
}
.shinobiplus .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/shinobiplus/w+D.svg');
}
.shinobiplus .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/shinobiplus/wE.svg');
}
.shinobiplus .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/shinobiplus/w+E.svg');
}
.shinobiplus .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/shinobiplus/wF.svg');
}
.shinobiplus .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/shinobiplus/w+F.svg');
}
.shinobiplus .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/shinobiplus/wG.svg');
}
.shinobiplus .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/shinobiplus/w+G.svg');
}
.shinobiplus .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/shinobiplus/wH.svg');
}
.shinobiplus .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/shinobiplus/w+H.svg');
}
.shinobiplus .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/shinobiplus/wI.svg');
}
.shinobiplus .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/shinobiplus/w+I.svg');
}
.shinobiplus .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/shinobiplus/wJ.svg');
}
.shinobiplus .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/shinobiplus/w+J.svg');
}
.shinobiplus .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/shinobiplus/wK.svg');
}
.shinobiplus .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/shinobiplus/w+K.svg');
}
.shinobiplus .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/shinobiplus/wL.svg');
}
.shinobiplus .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/shinobiplus/w+L.svg');
}
.shinobiplus .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/shinobiplus/wM.svg');
}
.shinobiplus .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/shinobiplus/w+M.svg');
}
.shinobiplus .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/shinobiplus/wN.svg');
}
.shinobiplus .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/shinobiplus/w+N.svg');
}
.shinobiplus .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/shinobiplus/wO.svg');
}
.shinobiplus .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/shinobiplus/w+O.svg');
}
.shinobiplus .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/shinobiplus/wP.svg');
}
.shinobiplus .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/shinobiplus/w+P.svg');
}
.shinobiplus .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/shinobiplus/wQ.svg');
}
.shinobiplus .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/shinobiplus/w+Q.svg');
}
.shinobiplus .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/shinobiplus/wR.svg');
}
.shinobiplus .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/shinobiplus/w+R.svg');
}
.shinobiplus .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/shinobiplus/wS.svg');
}
.shinobiplus .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/shinobiplus/w+S.svg');
}
.shinobiplus .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/shinobiplus/wT.svg');
}
.shinobiplus .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/shinobiplus/w+T.svg');
}
.shinobiplus .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/shinobiplus/wU.svg');
}
.shinobiplus .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/shinobiplus/w+U.svg');
}
.shinobiplus .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/shinobiplus/wV.svg');
}
.shinobiplus .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/shinobiplus/w+V.svg');
}
.shinobiplus .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/shinobiplus/wW.svg');
}
.shinobiplus .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/shinobiplus/w+W.svg');
}
.shinobiplus .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/shinobiplus/wX.svg');
}
.shinobiplus .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/shinobiplus/w+X.svg');
}
.shinobiplus .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/shinobiplus/wY.svg');
}
.shinobiplus .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/shinobiplus/w+Y.svg');
}
.shinobiplus .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/shinobiplus/wZ.svg');
}
.shinobiplus .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/shinobiplus/w+Z.svg');
}

.shinobiplus .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/shinobiplus/bA.svg');
}
.shinobiplus .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/shinobiplus/b+A.svg');
}
.shinobiplus .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/shinobiplus/bB.svg');
}
.shinobiplus .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/shinobiplus/b+B.svg');
}
.shinobiplus .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/shinobiplus/bC.svg');
}
.shinobiplus .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/shinobiplus/b+C.svg');
}
.shinobiplus .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/shinobiplus/bD.svg');
}
.shinobiplus .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/shinobiplus/b+D.svg');
}
.shinobiplus .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/shinobiplus/bE.svg');
}
.shinobiplus .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/shinobiplus/b+E.svg');
}
.shinobiplus .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/shinobiplus/bF.svg');
}
.shinobiplus .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/shinobiplus/b+F.svg');
}
.shinobiplus .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/shinobiplus/bG.svg');
}
.shinobiplus .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/shinobiplus/b+G.svg');
}
.shinobiplus .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/shinobiplus/bH.svg');
}
.shinobiplus .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/shinobiplus/b+H.svg');
}
.shinobiplus .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/shinobiplus/bI.svg');
}
.shinobiplus .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/shinobiplus/b+I.svg');
}
.shinobiplus .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/shinobiplus/bJ.svg');
}
.shinobiplus .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/shinobiplus/b+J.svg');
}
.shinobiplus .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/shinobiplus/bK.svg');
}
.shinobiplus .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/shinobiplus/b+K.svg');
}
.shinobiplus .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/shinobiplus/bL.svg');
}
.shinobiplus .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/shinobiplus/b+L.svg');
}
.shinobiplus .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/shinobiplus/bM.svg');
}
.shinobiplus .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/shinobiplus/b+M.svg');
}
.shinobiplus .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/shinobiplus/bN.svg');
}
.shinobiplus .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/shinobiplus/b+N.svg');
}
.shinobiplus .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/shinobiplus/bO.svg');
}
.shinobiplus .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/shinobiplus/b+O.svg');
}
.shinobiplus .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/shinobiplus/bP.svg');
}
.shinobiplus .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/shinobiplus/b+P.svg');
}
.shinobiplus .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/shinobiplus/bQ.svg');
}
.shinobiplus .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/shinobiplus/b+Q.svg');
}
.shinobiplus .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/shinobiplus/bR.svg');
}
.shinobiplus .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/shinobiplus/b+R.svg');
}
.shinobiplus .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/shinobiplus/bS.svg');
}
.shinobiplus .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/shinobiplus/b+S.svg');
}
.shinobiplus .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/shinobiplus/bT.svg');
}
.shinobiplus .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/shinobiplus/b+T.svg');
}
.shinobiplus .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/shinobiplus/bU.svg');
}
.shinobiplus .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/shinobiplus/b+U.svg');
}
.shinobiplus .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/shinobiplus/bV.svg');
}
.shinobiplus .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/shinobiplus/b+V.svg');
}
.shinobiplus .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/shinobiplus/bW.svg');
}
.shinobiplus .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/shinobiplus/b+W.svg');
}
.shinobiplus .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/shinobiplus/bX.svg');
}
.shinobiplus .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/shinobiplus/b+X.svg');
}
.shinobiplus .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/shinobiplus/bY.svg');
}
.shinobiplus .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/shinobiplus/b+Y.svg');
}
.shinobiplus .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/shinobiplus/bZ.svg');
}
.shinobiplus .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/shinobiplus/b+Z.svg');
}

.shinobiplus .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/shinobiplus/wP.svg');
}
.shinobiplus .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/shinobiplus/wB.svg');
}
.shinobiplus .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/shinobiplus/wN.svg');
}
.shinobiplus .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/shinobiplus/wR.svg');
}
.shinobiplus .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/shinobiplus/wQ.svg');
}
.shinobiplus .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/shinobiplus/wK.svg');
}
.shinobiplus .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/shinobiplus/wA.svg');
}
.shinobiplus .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/shinobiplus/wC.svg');
}
.shinobiplus .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/shinobiplus/wM.svg');
}
.shinobiplus .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/shinobiplus/wF.svg');
}
.shinobiplus .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/shinobiplus/wS.svg');
}
.shinobiplus .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/shinobiplus/wE.svg');
}
.shinobiplus .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/shinobiplus/wH.svg');
}
.shinobiplus .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/shinobiplus/wL.svg');
}
.shinobiplus .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/shinobiplus/wG.svg');
}
.shinobiplus .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/shinobiplus/wW.svg');
}
.shinobiplus .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/shinobiplus/wJ.svg');
}

.shinobiplus .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/shinobiplus/bP.svg');
}
.shinobiplus .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/shinobiplus/bB.svg');
}
.shinobiplus .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/shinobiplus/bN.svg');
}
.shinobiplus .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/shinobiplus/bR.svg');
}
.shinobiplus .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/shinobiplus/bQ.svg');
}
.shinobiplus .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/shinobiplus/bK.svg');
}
.shinobiplus .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/shinobiplus/bA.svg');
}
.shinobiplus .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/shinobiplus/bC.svg');
}
.shinobiplus .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/shinobiplus/bM.svg');
}
.shinobiplus .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/shinobiplus/bF.svg');
}
.shinobiplus .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/shinobiplus/bS.svg');
}
.shinobiplus .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/shinobiplus/bE.svg');
}
.shinobiplus .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/shinobiplus/bH.svg');
}
.shinobiplus .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/shinobiplus/bL.svg');
}
.shinobiplus .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/shinobiplus/bG.svg');
}
.shinobiplus .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/shinobiplus/bW.svg');
}
.shinobiplus .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/shinobiplus/bJ.svg');
}

.shinobiplus .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/barrier.svg');
}

.shinobiplus .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknown.svg');
}
