.lettertiles .cg-wrap piece.a-piece.white {
  background-image: url('images/pieces/lettertiles/wA.svg');
}
.lettertiles .cg-wrap piece.pa-piece.white {
  background-image: url('images/pieces/lettertiles/w+A.svg');
}
.lettertiles .cg-wrap piece.b-piece.white {
  background-image: url('images/pieces/lettertiles/wB.svg');
}
.lettertiles .cg-wrap piece.pb-piece.white {
  background-image: url('images/pieces/lettertiles/w+B.svg');
}
.lettertiles .cg-wrap piece.c-piece.white {
  background-image: url('images/pieces/lettertiles/wC.svg');
}
.lettertiles .cg-wrap piece.pc-piece.white {
  background-image: url('images/pieces/lettertiles/w+C.svg');
}
.lettertiles .cg-wrap piece.d-piece.white {
  background-image: url('images/pieces/lettertiles/wD.svg');
}
.lettertiles .cg-wrap piece.pd-piece.white {
  background-image: url('images/pieces/lettertiles/w+D.svg');
}
.lettertiles .cg-wrap piece.e-piece.white {
  background-image: url('images/pieces/lettertiles/wE.svg');
}
.lettertiles .cg-wrap piece.pe-piece.white {
  background-image: url('images/pieces/lettertiles/w+E.svg');
}
.lettertiles .cg-wrap piece.f-piece.white {
  background-image: url('images/pieces/lettertiles/wF.svg');
}
.lettertiles .cg-wrap piece.pf-piece.white {
  background-image: url('images/pieces/lettertiles/w+F.svg');
}
.lettertiles .cg-wrap piece.g-piece.white {
  background-image: url('images/pieces/lettertiles/wG.svg');
}
.lettertiles .cg-wrap piece.pg-piece.white {
  background-image: url('images/pieces/lettertiles/w+G.svg');
}
.lettertiles .cg-wrap piece.h-piece.white {
  background-image: url('images/pieces/lettertiles/wH.svg');
}
.lettertiles .cg-wrap piece.ph-piece.white {
  background-image: url('images/pieces/lettertiles/w+H.svg');
}
.lettertiles .cg-wrap piece.i-piece.white {
  background-image: url('images/pieces/lettertiles/wI.svg');
}
.lettertiles .cg-wrap piece.pi-piece.white {
  background-image: url('images/pieces/lettertiles/w+I.svg');
}
.lettertiles .cg-wrap piece.j-piece.white {
  background-image: url('images/pieces/lettertiles/wJ.svg');
}
.lettertiles .cg-wrap piece.pj-piece.white {
  background-image: url('images/pieces/lettertiles/w+J.svg');
}
.lettertiles .cg-wrap piece.k-piece.white {
  background-image: url('images/pieces/lettertiles/wK.svg');
}
.lettertiles .cg-wrap piece.pk-piece.white {
  background-image: url('images/pieces/lettertiles/w+K.svg');
}
.lettertiles .cg-wrap piece.l-piece.white {
  background-image: url('images/pieces/lettertiles/wL.svg');
}
.lettertiles .cg-wrap piece.pl-piece.white {
  background-image: url('images/pieces/lettertiles/w+L.svg');
}
.lettertiles .cg-wrap piece.m-piece.white {
  background-image: url('images/pieces/lettertiles/wM.svg');
}
.lettertiles .cg-wrap piece.pm-piece.white {
  background-image: url('images/pieces/lettertiles/w+M.svg');
}
.lettertiles .cg-wrap piece.n-piece.white {
  background-image: url('images/pieces/lettertiles/wN.svg');
}
.lettertiles .cg-wrap piece.pn-piece.white {
  background-image: url('images/pieces/lettertiles/w+N.svg');
}
.lettertiles .cg-wrap piece.o-piece.white {
  background-image: url('images/pieces/lettertiles/wO.svg');
}
.lettertiles .cg-wrap piece.po-piece.white {
  background-image: url('images/pieces/lettertiles/w+O.svg');
}
.lettertiles .cg-wrap piece.p-piece.white {
  background-image: url('images/pieces/lettertiles/wP.svg');
}
.lettertiles .cg-wrap piece.pp-piece.white {
  background-image: url('images/pieces/lettertiles/w+P.svg');
}
.lettertiles .cg-wrap piece.q-piece.white {
  background-image: url('images/pieces/lettertiles/wQ.svg');
}
.lettertiles .cg-wrap piece.pq-piece.white {
  background-image: url('images/pieces/lettertiles/w+Q.svg');
}
.lettertiles .cg-wrap piece.r-piece.white {
  background-image: url('images/pieces/lettertiles/wR.svg');
}
.lettertiles .cg-wrap piece.pr-piece.white {
  background-image: url('images/pieces/lettertiles/w+R.svg');
}
.lettertiles .cg-wrap piece.s-piece.white {
  background-image: url('images/pieces/lettertiles/wS.svg');
}
.lettertiles .cg-wrap piece.ps-piece.white {
  background-image: url('images/pieces/lettertiles/w+S.svg');
}
.lettertiles .cg-wrap piece.t-piece.white {
  background-image: url('images/pieces/lettertiles/wT.svg');
}
.lettertiles .cg-wrap piece.pt-piece.white {
  background-image: url('images/pieces/lettertiles/w+T.svg');
}
.lettertiles .cg-wrap piece.u-piece.white {
  background-image: url('images/pieces/lettertiles/wU.svg');
}
.lettertiles .cg-wrap piece.pu-piece.white {
  background-image: url('images/pieces/lettertiles/w+U.svg');
}
.lettertiles .cg-wrap piece.v-piece.white {
  background-image: url('images/pieces/lettertiles/wV.svg');
}
.lettertiles .cg-wrap piece.pv-piece.white {
  background-image: url('images/pieces/lettertiles/w+V.svg');
}
.lettertiles .cg-wrap piece.w-piece.white {
  background-image: url('images/pieces/lettertiles/wW.svg');
}
.lettertiles .cg-wrap piece.pw-piece.white {
  background-image: url('images/pieces/lettertiles/w+W.svg');
}
.lettertiles .cg-wrap piece.x-piece.white {
  background-image: url('images/pieces/lettertiles/wX.svg');
}
.lettertiles .cg-wrap piece.px-piece.white {
  background-image: url('images/pieces/lettertiles/w+X.svg');
}
.lettertiles .cg-wrap piece.y-piece.white {
  background-image: url('images/pieces/lettertiles/wY.svg');
}
.lettertiles .cg-wrap piece.py-piece.white {
  background-image: url('images/pieces/lettertiles/w+Y.svg');
}
.lettertiles .cg-wrap piece.z-piece.white {
  background-image: url('images/pieces/lettertiles/wZ.svg');
}
.lettertiles .cg-wrap piece.pz-piece.white {
  background-image: url('images/pieces/lettertiles/w+Z.svg');
}
.lettertiles .cg-wrap piece.a-piece.black {
  background-image: url('images/pieces/lettertiles/bA.svg');
}
.lettertiles .cg-wrap piece.pa-piece.black {
  background-image: url('images/pieces/lettertiles/b+A.svg');
}
.lettertiles .cg-wrap piece.b-piece.black {
  background-image: url('images/pieces/lettertiles/bB.svg');
}
.lettertiles .cg-wrap piece.pb-piece.black {
  background-image: url('images/pieces/lettertiles/b+B.svg');
}
.lettertiles .cg-wrap piece.c-piece.black {
  background-image: url('images/pieces/lettertiles/bC.svg');
}
.lettertiles .cg-wrap piece.pc-piece.black {
  background-image: url('images/pieces/lettertiles/b+C.svg');
}
.lettertiles .cg-wrap piece.d-piece.black {
  background-image: url('images/pieces/lettertiles/bD.svg');
}
.lettertiles .cg-wrap piece.pd-piece.black {
  background-image: url('images/pieces/lettertiles/b+D.svg');
}
.lettertiles .cg-wrap piece.e-piece.black {
  background-image: url('images/pieces/lettertiles/bE.svg');
}
.lettertiles .cg-wrap piece.pe-piece.black {
  background-image: url('images/pieces/lettertiles/b+E.svg');
}
.lettertiles .cg-wrap piece.f-piece.black {
  background-image: url('images/pieces/lettertiles/bF.svg');
}
.lettertiles .cg-wrap piece.pf-piece.black {
  background-image: url('images/pieces/lettertiles/b+F.svg');
}
.lettertiles .cg-wrap piece.g-piece.black {
  background-image: url('images/pieces/lettertiles/bG.svg');
}
.lettertiles .cg-wrap piece.pg-piece.black {
  background-image: url('images/pieces/lettertiles/b+G.svg');
}
.lettertiles .cg-wrap piece.h-piece.black {
  background-image: url('images/pieces/lettertiles/bH.svg');
}
.lettertiles .cg-wrap piece.ph-piece.black {
  background-image: url('images/pieces/lettertiles/b+H.svg');
}
.lettertiles .cg-wrap piece.i-piece.black {
  background-image: url('images/pieces/lettertiles/bI.svg');
}
.lettertiles .cg-wrap piece.pi-piece.black {
  background-image: url('images/pieces/lettertiles/b+I.svg');
}
.lettertiles .cg-wrap piece.j-piece.black {
  background-image: url('images/pieces/lettertiles/bJ.svg');
}
.lettertiles .cg-wrap piece.pj-piece.black {
  background-image: url('images/pieces/lettertiles/b+J.svg');
}
.lettertiles .cg-wrap piece.k-piece.black {
  background-image: url('images/pieces/lettertiles/bK.svg');
}
.lettertiles .cg-wrap piece.pk-piece.black {
  background-image: url('images/pieces/lettertiles/b+K.svg');
}
.lettertiles .cg-wrap piece.l-piece.black {
  background-image: url('images/pieces/lettertiles/bL.svg');
}
.lettertiles .cg-wrap piece.pl-piece.black {
  background-image: url('images/pieces/lettertiles/b+L.svg');
}
.lettertiles .cg-wrap piece.m-piece.black {
  background-image: url('images/pieces/lettertiles/bM.svg');
}
.lettertiles .cg-wrap piece.pm-piece.black {
  background-image: url('images/pieces/lettertiles/b+M.svg');
}
.lettertiles .cg-wrap piece.n-piece.black {
  background-image: url('images/pieces/lettertiles/bN.svg');
}
.lettertiles .cg-wrap piece.pn-piece.black {
  background-image: url('images/pieces/lettertiles/b+N.svg');
}
.lettertiles .cg-wrap piece.o-piece.black {
  background-image: url('images/pieces/lettertiles/bO.svg');
}
.lettertiles .cg-wrap piece.po-piece.black {
  background-image: url('images/pieces/lettertiles/b+O.svg');
}
.lettertiles .cg-wrap piece.p-piece.black {
  background-image: url('images/pieces/lettertiles/bP.svg');
}
.lettertiles .cg-wrap piece.pp-piece.black {
  background-image: url('images/pieces/lettertiles/b+P.svg');
}
.lettertiles .cg-wrap piece.q-piece.black {
  background-image: url('images/pieces/lettertiles/bQ.svg');
}
.lettertiles .cg-wrap piece.pq-piece.black {
  background-image: url('images/pieces/lettertiles/b+Q.svg');
}
.lettertiles .cg-wrap piece.r-piece.black {
  background-image: url('images/pieces/lettertiles/bR.svg');
}
.lettertiles .cg-wrap piece.pr-piece.black {
  background-image: url('images/pieces/lettertiles/b+R.svg');
}
.lettertiles .cg-wrap piece.s-piece.black {
  background-image: url('images/pieces/lettertiles/bS.svg');
}
.lettertiles .cg-wrap piece.ps-piece.black {
  background-image: url('images/pieces/lettertiles/b+S.svg');
}
.lettertiles .cg-wrap piece.t-piece.black {
  background-image: url('images/pieces/lettertiles/bT.svg');
}
.lettertiles .cg-wrap piece.pt-piece.black {
  background-image: url('images/pieces/lettertiles/b+T.svg');
}
.lettertiles .cg-wrap piece.u-piece.black {
  background-image: url('images/pieces/lettertiles/bU.svg');
}
.lettertiles .cg-wrap piece.pu-piece.black {
  background-image: url('images/pieces/lettertiles/b+U.svg');
}
.lettertiles .cg-wrap piece.v-piece.black {
  background-image: url('images/pieces/lettertiles/bV.svg');
}
.lettertiles .cg-wrap piece.pv-piece.black {
  background-image: url('images/pieces/lettertiles/b+V.svg');
}
.lettertiles .cg-wrap piece.w-piece.black {
  background-image: url('images/pieces/lettertiles/bW.svg');
}
.lettertiles .cg-wrap piece.pw-piece.black {
  background-image: url('images/pieces/lettertiles/b+W.svg');
}
.lettertiles .cg-wrap piece.x-piece.black {
  background-image: url('images/pieces/lettertiles/bX.svg');
}
.lettertiles .cg-wrap piece.px-piece.black {
  background-image: url('images/pieces/lettertiles/b+X.svg');
}
.lettertiles .cg-wrap piece.y-piece.black {
  background-image: url('images/pieces/lettertiles/bY.svg');
}
.lettertiles .cg-wrap piece.py-piece.black {
  background-image: url('images/pieces/lettertiles/b+Y.svg');
}
.lettertiles .cg-wrap piece.z-piece.black {
  background-image: url('images/pieces/lettertiles/bZ.svg');
}
.lettertiles .cg-wrap piece.pz-piece.black {
  background-image: url('images/pieces/lettertiles/b+Z.svg');
}
.lettertiles .cg-wrap piece._-piece {
  background-image: url('images/wallsquare/lettertilebarrier.svg');
}


.lettertiles .cg-wrap piece.unknown {
  background-image: url('images/fogofwar/unknowntile.svg');
}
