name: CI
on: [push, pull_request, workflow_dispatch]
jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - run: npm install prettier
      - run: npm run format:check
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: ./release_make/CI.sh
